# Importing libraries

In [1]:
import os
import sys
import glob
os.environ["PYARROW_IGNORE_TIMEZONE"] = "1"
os.environ['PYSPARK_PYTHON'] = sys.executable
os.environ['PYSPARK_DRIVER_PYTHON'] = sys.executable

In [2]:
from pyspark.sql import SparkSession,functions, Window
from pyspark.sql.functions import *
from pyspark.sql.types import *
import pyspark.pandas as ps

# Starting Spark Session and Creating a Spark Session Called Pizza

In [3]:
spark = SparkSession.builder \
        .master("local[1]") \
        .appName("PizzaRestaurant") \
        .config("spark.some.config.option", "config-value") \
        .enableHiveSupport() \
        .getOrCreate()

In [4]:
spark

# Browsing .csv PizzaRestaurant files

In [5]:
path = r"D:\My commercial projects\PySpark\Project 4 PySpark\Pizza Place Sales"


if os.path.exists(path):
    print(f'The file {path} exists')
else: 
    print(f"The file {path} does not exist ")

filenames = glob.glob(path + '\*.csv')

for file in filenames:
    print("\nFile names:", file)

The file D:\My commercial projects\PySpark\Project 4 PySpark\Pizza Place Sales exists

File names: D:\My commercial projects\PySpark\Project 4 PySpark\Pizza Place Sales\orders.csv

File names: D:\My commercial projects\PySpark\Project 4 PySpark\Pizza Place Sales\order_details.csv

File names: D:\My commercial projects\PySpark\Project 4 PySpark\Pizza Place Sales\pizzas.csv

File names: D:\My commercial projects\PySpark\Project 4 PySpark\Pizza Place Sales\pizza_types.csv

# Reading csv files into Spark DataFrames

In [6]:
PathOrders = 'D:\My commercial projects\PySpark\Project 4 PySpark\Pizza Place Sales\orders.csv'
PathOrderDetails = 'D:\My commercial projects\PySpark\Project 4 PySpark\Pizza Place Sales\order_details.csv'
PathPizzas = 'D:\My commercial projects\PySpark\Project 4 PySpark\Pizza Place Sales\pizzas.csv'
PathPizzaTypes = 'D:\My commercial projects\PySpark\Project 4 PySpark\Pizza Place Sales\pizza_types.csv'

dfPizzaOrders = spark.read.csv(PathOrders, header=True, inferSchema=True)
dfPizzaOrderDetails = spark.read.csv(PathOrderDetails, header=True, inferSchema=True)
dfPizzas = spark.read.csv(PathPizzas, header=True, inferSchema=True)
dfPizzaTypes = spark.read.csv(PathPizzaTypes, header=True, inferSchema=True)

# Data Exploration

In [7]:
dfPizzaOrders.show(truncate=False)

+--------+----------+-------------------+
|order_id|date      |time               |
+--------+----------+-------------------+
|1       |2015-01-01|2023-06-15 11:38:36|
|2       |2015-01-01|2023-06-15 11:57:40|
|3       |2015-01-01|2023-06-15 12:12:28|
|4       |2015-01-01|2023-06-15 12:16:31|
|5       |2015-01-01|2023-06-15 12:21:30|
|6       |2015-01-01|2023-06-15 12:29:36|
|7       |2015-01-01|2023-06-15 12:50:37|
|8       |2015-01-01|2023-06-15 12:51:37|
|9       |2015-01-01|2023-06-15 12:52:01|
|10      |2015-01-01|2023-06-15 13:00:15|
|11      |2015-01-01|2023-06-15 13:02:59|
|12      |2015-01-01|2023-06-15 13:04:41|
|13      |2015-01-01|2023-06-15 13:11:55|
|14      |2015-01-01|2023-06-15 13:14:19|
|15      |2015-01-01|2023-06-15 13:33:00|
|16      |2015-01-01|2023-06-15 13:34:07|
|17      |2015-01-01|2023-06-15 13:53:00|
|18      |2015-01-01|2023-06-15 13:57:08|
|19      |2015-01-01|2023-06-15 13:59:09|
|20      |2015-01-01|2023-06-15 14:03:08|
+--------+----------+-------------------+
only showing top 20 rows

In [8]:
dfPizzaOrderDetails.show(truncate=False)

+----------------+--------+--------------+--------+
|order_details_id|order_id|pizza_id      |quantity|
+----------------+--------+--------------+--------+
|1               |1       |hawaiian_m    |1       |
|2               |2       |classic_dlx_m |1       |
|3               |2       |five_cheese_l |1       |
|4               |2       |ital_supr_l   |1       |
|5               |2       |mexicana_m    |1       |
|6               |2       |thai_ckn_l    |1       |
|7               |3       |ital_supr_m   |1       |
|8               |3       |prsc_argla_l  |1       |
|9               |4       |ital_supr_m   |1       |
|10              |5       |ital_supr_m   |1       |
|11              |6       |bbq_ckn_s     |1       |
|12              |6       |the_greek_s   |1       |
|13              |7       |spinach_supr_s|1       |
|14              |8       |spinach_supr_s|1       |
|15              |9       |classic_dlx_s |1       |
|16              |9       |green_garden_s|1       |
|17              |9       |ital_cpcllo_l |1       |
|18              |9       |ital_supr_l   |1       |
|19              |9       |ital_supr_s   |1       |
|20              |9       |mexicana_s    |1       |
+----------------+--------+--------------+--------+
only showing top 20 rows

In [9]:
dfPizzas.show(truncate=False)

+-------------+-------------+----+-----+
|pizza_id     |pizza_type_id|size|price|
+-------------+-------------+----+-----+
|bbq_ckn_s    |bbq_ckn      |S   |12.75|
|bbq_ckn_m    |bbq_ckn      |M   |16.75|
|bbq_ckn_l    |bbq_ckn      |L   |20.75|
|cali_ckn_s   |cali_ckn     |S   |12.75|
|cali_ckn_m   |cali_ckn     |M   |16.75|
|cali_ckn_l   |cali_ckn     |L   |20.75|
|ckn_alfredo_s|ckn_alfredo  |S   |12.75|
|ckn_alfredo_m|ckn_alfredo  |M   |16.75|
|ckn_alfredo_l|ckn_alfredo  |L   |20.75|
|ckn_pesto_s  |ckn_pesto    |S   |12.75|
|ckn_pesto_m  |ckn_pesto    |M   |16.75|
|ckn_pesto_l  |ckn_pesto    |L   |20.75|
|southw_ckn_s |southw_ckn   |S   |12.75|
|southw_ckn_m |southw_ckn   |M   |16.75|
|southw_ckn_l |southw_ckn   |L   |20.75|
|thai_ckn_s   |thai_ckn     |S   |12.75|
|thai_ckn_m   |thai_ckn     |M   |16.75|
|thai_ckn_l   |thai_ckn     |L   |20.75|
|big_meat_s   |big_meat     |S   |12.0 |
|big_meat_m   |big_meat     |M   |16.0 |
+-------------+-------------+----+-----+
only showing top 20 rows

In [10]:
dfPizzaTypes.show(truncate=False)

+-------------+------------------------------------------+--------+--------------------------------------------------------------------------------------------+
|pizza_type_id|name                                      |category|ingredients                                                                                 |
+-------------+------------------------------------------+--------+--------------------------------------------------------------------------------------------+
|bbq_ckn      |The Barbecue Chicken Pizza                |Chicken |Barbecued Chicken, Red Peppers, Green Peppers, Tomatoes, Red Onions, Barbecue Sauce         |
|cali_ckn     |The California Chicken Pizza              |Chicken |Chicken, Artichoke, Spinach, Garlic, Jalapeno Peppers, Fontina Cheese, Gouda Cheese         |
|ckn_alfredo  |The Chicken Alfredo Pizza                 |Chicken |Chicken, Red Onions, Red Peppers, Mushrooms, Asiago Cheese, Alfredo Sauce                   |
|ckn_pesto    |The Chicken Pesto Pizza                   |Chicken |Chicken, Tomatoes, Red Peppers, Spinach, Garlic, Pesto Sauce                                |
|southw_ckn   |The Southwest Chicken Pizza               |Chicken |Chicken, Tomatoes, Red Peppers, Red Onions, Jalapeno Peppers, Corn, Cilantro, Chipotle Sauce|
|thai_ckn     |The Thai Chicken Pizza                    |Chicken |Chicken, Pineapple, Tomatoes, Red Peppers, Thai Sweet Chilli Sauce                          |
|big_meat     |The Big Meat Pizza                        |Classic |Bacon, Pepperoni, Italian Sausage, Chorizo Sausage                                          |
|classic_dlx  |The Classic Deluxe Pizza                  |Classic |Pepperoni, Mushrooms, Red Onions, Red Peppers, Bacon                                        |
|hawaiian     |The Hawaiian Pizza                        |Classic |Sliced Ham, Pineapple, Mozzarella Cheese                                                    |
|ital_cpcllo  |The Italian Capocollo Pizza               |Classic |Capocollo, Red Peppers, Tomatoes, Goat Cheese, Garlic, Oregano                              |
|napolitana   |The Napolitana Pizza                      |Classic |Tomatoes, Anchovies, Green Olives, Red Onions, Garlic                                       |
|pep_msh_pep  |The Pepperoni, Mushroom, and Peppers Pizza|Classic |Pepperoni, Mushrooms, Green Peppers                                                         |
|pepperoni    |The Pepperoni Pizza                       |Classic |Mozzarella Cheese, Pepperoni                                                                |
|the_greek    |The Greek Pizza                           |Classic |Kalamata Olives, Feta Cheese, Tomatoes, Garlic, Beef Chuck Roast, Red Onions                |
|brie_carre   |The Brie Carre Pizza                      |Supreme |Brie Carre Cheese, Prosciutto, Caramelized Onions, Pears, Thyme, Garlic                     |
|calabrese    |The Calabrese Pizza                       |Supreme |ï¿½Nduja Salami, Pancetta, Tomatoes, Red Onions, Friggitello Peppers, Garlic                  |
|ital_supr    |The Italian Supreme Pizza                 |Supreme |Calabrese Salami, Capocollo, Tomatoes, Red Onions, Green Olives, Garlic                     |
|peppr_salami |The Pepper Salami Pizza                   |Supreme |Genoa Salami, Capocollo, Pepperoni, Tomatoes, Asiago Cheese, Garlic                         |
|prsc_argla   |The Prosciutto and Arugula Pizza          |Supreme |Prosciutto di San Daniele, Arugula, Mozzarella Cheese                                       |
|sicilian     |The Sicilian Pizza                        |Supreme |Coarse Sicilian Salami, Tomatoes, Green Olives, Luganega Sausage, Onions, Garlic            |
+-------------+------------------------------------------+--------+--------------------------------------------------------------------------------------------+
only showing top 20 rows

# Combining DataFrames

In [11]:
dfPizzaOrdersAll = dfPizzaOrders.join(dfPizzaOrderDetails,dfPizzaOrders.order_id == dfPizzaOrderDetails.order_id, "inner" )
dfPizzaOrdersAll.show(truncate=False)

+--------+----------+-------------------+----------------+--------+--------------+--------+
|order_id|date      |time               |order_details_id|order_id|pizza_id      |quantity|
+--------+----------+-------------------+----------------+--------+--------------+--------+
|1       |2015-01-01|2023-06-15 11:38:36|1               |1       |hawaiian_m    |1       |
|2       |2015-01-01|2023-06-15 11:57:40|2               |2       |classic_dlx_m |1       |
|2       |2015-01-01|2023-06-15 11:57:40|3               |2       |five_cheese_l |1       |
|2       |2015-01-01|2023-06-15 11:57:40|4               |2       |ital_supr_l   |1       |
|2       |2015-01-01|2023-06-15 11:57:40|5               |2       |mexicana_m    |1       |
|2       |2015-01-01|2023-06-15 11:57:40|6               |2       |thai_ckn_l    |1       |
|3       |2015-01-01|2023-06-15 12:12:28|7               |3       |ital_supr_m   |1       |
|3       |2015-01-01|2023-06-15 12:12:28|8               |3       |prsc_argla_l  |1       |
|4       |2015-01-01|2023-06-15 12:16:31|9               |4       |ital_supr_m   |1       |
|5       |2015-01-01|2023-06-15 12:21:30|10              |5       |ital_supr_m   |1       |
|6       |2015-01-01|2023-06-15 12:29:36|11              |6       |bbq_ckn_s     |1       |
|6       |2015-01-01|2023-06-15 12:29:36|12              |6       |the_greek_s   |1       |
|7       |2015-01-01|2023-06-15 12:50:37|13              |7       |spinach_supr_s|1       |
|8       |2015-01-01|2023-06-15 12:51:37|14              |8       |spinach_supr_s|1       |
|9       |2015-01-01|2023-06-15 12:52:01|15              |9       |classic_dlx_s |1       |
|9       |2015-01-01|2023-06-15 12:52:01|16              |9       |green_garden_s|1       |
|9       |2015-01-01|2023-06-15 12:52:01|17              |9       |ital_cpcllo_l |1       |
|9       |2015-01-01|2023-06-15 12:52:01|18              |9       |ital_supr_l   |1       |
|9       |2015-01-01|2023-06-15 12:52:01|19              |9       |ital_supr_s   |1       |
|9       |2015-01-01|2023-06-15 12:52:01|20              |9       |mexicana_s    |1       |
+--------+----------+-------------------+----------------+--------+--------------+--------+
only showing top 20 rows

In [12]:
dfPizzaOrdersAll = dfPizzaOrdersAll.select("pizza_id","quantity","date","time")
dfPizzaOrdersAll.show()

+--------------+--------+----------+-------------------+
|      pizza_id|quantity|      date|               time|
+--------------+--------+----------+-------------------+
|    hawaiian_m|       1|2015-01-01|2023-06-15 11:38:36|
| classic_dlx_m|       1|2015-01-01|2023-06-15 11:57:40|
| five_cheese_l|       1|2015-01-01|2023-06-15 11:57:40|
|   ital_supr_l|       1|2015-01-01|2023-06-15 11:57:40|
|    mexicana_m|       1|2015-01-01|2023-06-15 11:57:40|
|    thai_ckn_l|       1|2015-01-01|2023-06-15 11:57:40|
|   ital_supr_m|       1|2015-01-01|2023-06-15 12:12:28|
|  prsc_argla_l|       1|2015-01-01|2023-06-15 12:12:28|
|   ital_supr_m|       1|2015-01-01|2023-06-15 12:16:31|
|   ital_supr_m|       1|2015-01-01|2023-06-15 12:21:30|
|     bbq_ckn_s|       1|2015-01-01|2023-06-15 12:29:36|
|   the_greek_s|       1|2015-01-01|2023-06-15 12:29:36|
|spinach_supr_s|       1|2015-01-01|2023-06-15 12:50:37|
|spinach_supr_s|       1|2015-01-01|2023-06-15 12:51:37|
| classic_dlx_s|       1|2015-01-01|2023-06-15 12:52:01|
|green_garden_s|       1|2015-01-01|2023-06-15 12:52:01|
| ital_cpcllo_l|       1|2015-01-01|2023-06-15 12:52:01|
|   ital_supr_l|       1|2015-01-01|2023-06-15 12:52:01|
|   ital_supr_s|       1|2015-01-01|2023-06-15 12:52:01|
|    mexicana_s|       1|2015-01-01|2023-06-15 12:52:01|
+--------------+--------+----------+-------------------+
only showing top 20 rows

In [13]:
dfPizzaAll = dfPizzas.join(dfPizzaTypes,dfPizzas.pizza_type_id == dfPizzaTypes.pizza_type_id, "inner" )
dfPizzaAll = dfPizzaAll.select("pizza_id","size","price","name","category","ingredients")
dfPizzaAll.show()

+-------------+----+-----+--------------------+--------+--------------------+
|     pizza_id|size|price|                name|category|         ingredients|
+-------------+----+-----+--------------------+--------+--------------------+
|    bbq_ckn_l|   L|20.75|The Barbecue Chic...| Chicken|Barbecued Chicken...|
|    bbq_ckn_m|   M|16.75|The Barbecue Chic...| Chicken|Barbecued Chicken...|
|    bbq_ckn_s|   S|12.75|The Barbecue Chic...| Chicken|Barbecued Chicken...|
|   cali_ckn_l|   L|20.75|The California Ch...| Chicken|Chicken, Artichok...|
|   cali_ckn_m|   M|16.75|The California Ch...| Chicken|Chicken, Artichok...|
|   cali_ckn_s|   S|12.75|The California Ch...| Chicken|Chicken, Artichok...|
|ckn_alfredo_l|   L|20.75|The Chicken Alfre...| Chicken|Chicken, Red Onio...|
|ckn_alfredo_m|   M|16.75|The Chicken Alfre...| Chicken|Chicken, Red Onio...|
|ckn_alfredo_s|   S|12.75|The Chicken Alfre...| Chicken|Chicken, Red Onio...|
|  ckn_pesto_l|   L|20.75|The Chicken Pesto...| Chicken|Chicken, Tomatoes...|
|  ckn_pesto_m|   M|16.75|The Chicken Pesto...| Chicken|Chicken, Tomatoes...|
|  ckn_pesto_s|   S|12.75|The Chicken Pesto...| Chicken|Chicken, Tomatoes...|
| southw_ckn_l|   L|20.75|The Southwest Chi...| Chicken|Chicken, Tomatoes...|
| southw_ckn_m|   M|16.75|The Southwest Chi...| Chicken|Chicken, Tomatoes...|
| southw_ckn_s|   S|12.75|The Southwest Chi...| Chicken|Chicken, Tomatoes...|
|   thai_ckn_l|   L|20.75|The Thai Chicken ...| Chicken|Chicken, Pineappl...|
|   thai_ckn_m|   M|16.75|The Thai Chicken ...| Chicken|Chicken, Pineappl...|
|   thai_ckn_s|   S|12.75|The Thai Chicken ...| Chicken|Chicken, Pineappl...|
|   big_meat_l|   L| 20.5|  The Big Meat Pizza| Classic|Bacon, Pepperoni,...|
|   big_meat_m|   M| 16.0|  The Big Meat Pizza| Classic|Bacon, Pepperoni,...|
+-------------+----+-----+--------------------+--------+--------------------+
only showing top 20 rows

In [14]:
dfPizza = dfPizzaAll.join(dfPizzaOrdersAll,dfPizzaAll.pizza_id == dfPizzaOrdersAll.pizza_id, "left" )
dfPizza = dfPizza.select(col("name").alias("Name"), 
                col("category").alias("Category"),
                col("ingredients").alias("Ingredients"),
                col("size").alias("Size"),
                col("price").alias("Price"),
                col("quantity").alias("Quantity"),
                col("date").alias("Date"),
                col("time").alias("Time"))

dfPizza.show(truncate=False)

+--------------------------+--------+-----------------------------------------------------------------------------------+----+-----+--------+----------+-------------------+
|Name                      |Category|Ingredients                                                                        |Size|Price|Quantity|Date      |Time               |
+--------------------------+--------+-----------------------------------------------------------------------------------+----+-----+--------+----------+-------------------+
|The Barbecue Chicken Pizza|Chicken |Barbecued Chicken, Red Peppers, Green Peppers, Tomatoes, Red Onions, Barbecue Sauce|L   |20.75|1       |2015-01-01|2023-06-15 13:02:59|
|The Barbecue Chicken Pizza|Chicken |Barbecued Chicken, Red Peppers, Green Peppers, Tomatoes, Red Onions, Barbecue Sauce|L   |20.75|1       |2015-01-01|2023-06-15 13:53:00|
|The Barbecue Chicken Pizza|Chicken |Barbecued Chicken, Red Peppers, Green Peppers, Tomatoes, Red Onions, Barbecue Sauce|L   |20.75|1       |2015-01-01|2023-06-15 15:11:17|
|The Barbecue Chicken Pizza|Chicken |Barbecued Chicken, Red Peppers, Green Peppers, Tomatoes, Red Onions, Barbecue Sauce|L   |20.75|1       |2015-01-01|2023-06-15 15:54:08|
|The Barbecue Chicken Pizza|Chicken |Barbecued Chicken, Red Peppers, Green Peppers, Tomatoes, Red Onions, Barbecue Sauce|L   |20.75|1       |2015-01-01|2023-06-15 18:48:28|
|The Barbecue Chicken Pizza|Chicken |Barbecued Chicken, Red Peppers, Green Peppers, Tomatoes, Red Onions, Barbecue Sauce|L   |20.75|1       |2015-01-01|2023-06-15 22:12:13|
|The Barbecue Chicken Pizza|Chicken |Barbecued Chicken, Red Peppers, Green Peppers, Tomatoes, Red Onions, Barbecue Sauce|L   |20.75|2       |2015-01-02|2023-06-15 15:14:43|
|The Barbecue Chicken Pizza|Chicken |Barbecued Chicken, Red Peppers, Green Peppers, Tomatoes, Red Onions, Barbecue Sauce|L   |20.75|1       |2015-01-02|2023-06-15 22:00:17|
|The Barbecue Chicken Pizza|Chicken |Barbecued Chicken, Red Peppers, Green Peppers, Tomatoes, Red Onions, Barbecue Sauce|L   |20.75|1       |2015-01-03|2023-06-15 17:00:49|
|The Barbecue Chicken Pizza|Chicken |Barbecued Chicken, Red Peppers, Green Peppers, Tomatoes, Red Onions, Barbecue Sauce|L   |20.75|1       |2015-01-03|2023-06-15 20:14:23|
|The Barbecue Chicken Pizza|Chicken |Barbecued Chicken, Red Peppers, Green Peppers, Tomatoes, Red Onions, Barbecue Sauce|L   |20.75|1       |2015-01-03|2023-06-15 21:25:20|
|The Barbecue Chicken Pizza|Chicken |Barbecued Chicken, Red Peppers, Green Peppers, Tomatoes, Red Onions, Barbecue Sauce|L   |20.75|1       |2015-01-04|2023-06-15 12:12:05|
|The Barbecue Chicken Pizza|Chicken |Barbecued Chicken, Red Peppers, Green Peppers, Tomatoes, Red Onions, Barbecue Sauce|L   |20.75|1       |2015-01-04|2023-06-15 14:42:01|
|The Barbecue Chicken Pizza|Chicken |Barbecued Chicken, Red Peppers, Green Peppers, Tomatoes, Red Onions, Barbecue Sauce|L   |20.75|1       |2015-01-04|2023-06-15 16:41:48|
|The Barbecue Chicken Pizza|Chicken |Barbecued Chicken, Red Peppers, Green Peppers, Tomatoes, Red Onions, Barbecue Sauce|L   |20.75|1       |2015-01-04|2023-06-15 20:28:41|
|The Barbecue Chicken Pizza|Chicken |Barbecued Chicken, Red Peppers, Green Peppers, Tomatoes, Red Onions, Barbecue Sauce|L   |20.75|1       |2015-01-04|2023-06-15 21:06:16|
|The Barbecue Chicken Pizza|Chicken |Barbecued Chicken, Red Peppers, Green Peppers, Tomatoes, Red Onions, Barbecue Sauce|L   |20.75|1       |2015-01-04|2023-06-15 22:22:13|
|The Barbecue Chicken Pizza|Chicken |Barbecued Chicken, Red Peppers, Green Peppers, Tomatoes, Red Onions, Barbecue Sauce|L   |20.75|1       |2015-01-05|2023-06-15 17:44:39|
|The Barbecue Chicken Pizza|Chicken |Barbecued Chicken, Red Peppers, Green Peppers, Tomatoes, Red Onions, Barbecue Sauce|L   |20.75|1       |2015-01-06|2023-06-15 17:59:48|
|The Barbecue Chicken Pizza|Chicken |Barbecued Chicken, Red Peppers, Green Peppers, Tomatoes, Red Onions, Barbecue Sauce|L   |20.75|1       |2015-01-06|2023-06-15 18:50:38|
+--------------------------+--------+-----------------------------------------------------------------------------------+----+-----+--------+----------+-------------------+
only showing top 20 rows

# Data Cleaning

### Looking for null values

In [15]:
dfPizzaNull = dfPizza.select("Name", "Category", "Ingredients", "Size", "Price", "Quantity")

dfPizzaNull.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) for c in dfPizzaNull.columns]
   ).show()

+----+--------+-----------+----+-----+--------+
|Name|Category|Ingredients|Size|Price|Quantity|
+----+--------+-----------+----+-----+--------+
|   0|       0|          0|   0|    0|       5|
+----+--------+-----------+----+-----+--------+

##### There are a few Null values in Quantity, but it means that there were no orders for these pizza

In [16]:
dfPizza.filter(col("Quantity").isNull()).show()

+--------------------+--------+--------------------+----+-----+--------+----+----+
|                Name|Category|         Ingredients|Size|Price|Quantity|Date|Time|
+--------------------+--------+--------------------+----+-----+--------+----+----+
|The Four Cheese P...|  Veggie|Ricotta Cheese, G...|   S|11.75|    null|null|null|
|  The Big Meat Pizza| Classic|Bacon, Pepperoni,...|   L| 20.5|    null|null|null|
|The Five Cheese P...|  Veggie|Mozzarella Cheese...|   S| 12.5|    null|null|null|
|  The Big Meat Pizza| Classic|Bacon, Pepperoni,...|   M| 16.0|    null|null|null|
|The Five Cheese P...|  Veggie|Mozzarella Cheese...|   M| 15.5|    null|null|null|
+--------------------+--------+--------------------+----+-----+--------+----+----+

### Dealing with duplicate values

In [17]:
print("Counting rows {}".format(dfPizza.count()))

Counting rows 48625

In [18]:
dfPizzaDuplicates = dfPizza.groupBy(dfPizza.columns).count().filter(col("count") > 1)
dfPizzaDuplicates.show()

+----+--------+-----------+----+-----+--------+----+----+-----+
|Name|Category|Ingredients|Size|Price|Quantity|Date|Time|count|
+----+--------+-----------+----+-----+--------+----+----+-----+
+----+--------+-----------+----+-----+--------+----+----+-----+

### Browsing for distinct values in each column

In [19]:
print("Counting distinct rows {}".format(dfPizza.distinct().count()))

Counting distinct rows 48625

In [20]:
dfPizza.agg(*(countDistinct(col(c)).alias(c) for c in dfPizza.columns)).show()

+----+--------+-----------+----+-----+--------+----+-----+
|Name|Category|Ingredients|Size|Price|Quantity|Date| Time|
+----+--------+-----------+----+-----+--------+----+-----+
|  32|       4|         32|   5|   27|       4| 358|16382|
+----+--------+-----------+----+-----+--------+----+-----+

### Columns

In [21]:
print("There are {} columns in the DataFrame and their names are {}".format(len(dfPizza.columns),
                                                                              dfPizza.columns))

There are 8 columns in the DataFrame and their names are ['Name', 'Category', 'Ingredients', 'Size', 'Price', 'Quantity', 'Date', 'Time']

### Datatypes

In [22]:
dfPizza.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Category: string (nullable = true)
 |-- Ingredients: string (nullable = true)
 |-- Size: string (nullable = true)
 |-- Price: double (nullable = true)
 |-- Quantity: integer (nullable = true)
 |-- Date: date (nullable = true)
 |-- Time: timestamp (nullable = true)

In [23]:
dfPizza = dfPizza.withColumn("Price",col("Price").cast(DecimalType(18,2)))

### Summary

In [24]:
dfPizza.describe("Price").show()

+-------+-----------------+
|summary|            Price|
+-------+-----------------+
|  count|            48625|
|   mean|        16.494004|
| stddev|3.621761197368334|
|    min|             9.75|
|    max|            35.95|
+-------+-----------------+

In [25]:
dfPizza.dtypes

[('Name', 'string'),
 ('Category', 'string'),
 ('Ingredients', 'string'),
 ('Size', 'string'),
 ('Price', 'decimal(18,2)'),
 ('Quantity', 'int'),
 ('Date', 'date'),
 ('Time', 'timestamp')]

In [26]:
print("Shape of DataFrame: {}, {} ".format(dfPizza.count(),
                                          len(dfPizza.columns)))

Shape of DataFrame: 48625, 8

# Data Analysis

### Creating Total Amount

In [27]:
def CreateMultpiplication(x, y):
    return x * y

dfPizza = dfPizza.withColumn("Total Amount",CreateMultpiplication(col("Quantity"),col("Price")) )
dfPizza = dfPizza.select('Name',
 'Category',
 'Ingredients',
 'Size',
 'Price',
 'Quantity',
 'Total Amount',
 'Date',
 'Time')

dfPizza.show(truncate=False)

+-------------------------+--------+-----------------------------------------------------------------------+----+-----+--------+------------+----------+-------------------+
|Name                     |Category|Ingredients                                                            |Size|Price|Quantity|Total Amount|Date      |Time               |
+-------------------------+--------+-----------------------------------------------------------------------+----+-----+--------+------------+----------+-------------------+
|The Italian Supreme Pizza|Supreme |Calabrese Salami, Capocollo, Tomatoes, Red Onions, Green Olives, Garlic|S   |12.50|1       |12.50       |2015-12-30|2023-06-15 12:45:20|
|The Italian Supreme Pizza|Supreme |Calabrese Salami, Capocollo, Tomatoes, Red Onions, Green Olives, Garlic|S   |12.50|1       |12.50       |2015-12-27|2023-06-15 16:03:36|
|The Italian Supreme Pizza|Supreme |Calabrese Salami, Capocollo, Tomatoes, Red Onions, Green Olives, Garlic|S   |12.50|1       |12.50       |2015-12-24|2023-06-15 21:09:48|
|The Italian Supreme Pizza|Supreme |Calabrese Salami, Capocollo, Tomatoes, Red Onions, Green Olives, Garlic|S   |12.50|1       |12.50       |2015-12-23|2023-06-15 19:37:02|
|The Italian Supreme Pizza|Supreme |Calabrese Salami, Capocollo, Tomatoes, Red Onions, Green Olives, Garlic|S   |12.50|1       |12.50       |2015-12-20|2023-06-15 16:36:49|
|The Italian Supreme Pizza|Supreme |Calabrese Salami, Capocollo, Tomatoes, Red Onions, Green Olives, Garlic|S   |12.50|1       |12.50       |2015-12-16|2023-06-15 20:39:32|
|The Italian Supreme Pizza|Supreme |Calabrese Salami, Capocollo, Tomatoes, Red Onions, Green Olives, Garlic|S   |12.50|1       |12.50       |2015-12-13|2023-06-15 19:56:40|
|The Italian Supreme Pizza|Supreme |Calabrese Salami, Capocollo, Tomatoes, Red Onions, Green Olives, Garlic|S   |12.50|1       |12.50       |2015-12-13|2023-06-15 14:39:07|
|The Italian Supreme Pizza|Supreme |Calabrese Salami, Capocollo, Tomatoes, Red Onions, Green Olives, Garlic|S   |12.50|1       |12.50       |2015-12-12|2023-06-15 21:30:34|
|The Italian Supreme Pizza|Supreme |Calabrese Salami, Capocollo, Tomatoes, Red Onions, Green Olives, Garlic|S   |12.50|1       |12.50       |2015-12-09|2023-06-15 12:10:52|
|The Italian Supreme Pizza|Supreme |Calabrese Salami, Capocollo, Tomatoes, Red Onions, Green Olives, Garlic|S   |12.50|1       |12.50       |2015-12-08|2023-06-15 13:08:48|
|The Italian Supreme Pizza|Supreme |Calabrese Salami, Capocollo, Tomatoes, Red Onions, Green Olives, Garlic|S   |12.50|1       |12.50       |2015-12-06|2023-06-15 19:58:59|
|The Italian Supreme Pizza|Supreme |Calabrese Salami, Capocollo, Tomatoes, Red Onions, Green Olives, Garlic|S   |12.50|1       |12.50       |2015-11-29|2023-06-15 17:55:56|
|The Italian Supreme Pizza|Supreme |Calabrese Salami, Capocollo, Tomatoes, Red Onions, Green Olives, Garlic|S   |12.50|1       |12.50       |2015-11-29|2023-06-15 17:08:29|
|The Italian Supreme Pizza|Supreme |Calabrese Salami, Capocollo, Tomatoes, Red Onions, Green Olives, Garlic|S   |12.50|1       |12.50       |2015-11-28|2023-06-15 17:21:24|
|The Italian Supreme Pizza|Supreme |Calabrese Salami, Capocollo, Tomatoes, Red Onions, Green Olives, Garlic|S   |12.50|1       |12.50       |2015-11-24|2023-06-15 16:47:49|
|The Italian Supreme Pizza|Supreme |Calabrese Salami, Capocollo, Tomatoes, Red Onions, Green Olives, Garlic|S   |12.50|1       |12.50       |2015-11-21|2023-06-15 14:40:50|
|The Italian Supreme Pizza|Supreme |Calabrese Salami, Capocollo, Tomatoes, Red Onions, Green Olives, Garlic|S   |12.50|1       |12.50       |2015-11-15|2023-06-15 20:58:00|
|The Italian Supreme Pizza|Supreme |Calabrese Salami, Capocollo, Tomatoes, Red Onions, Green Olives, Garlic|S   |12.50|1       |12.50       |2015-11-13|2023-06-15 20:49:55|
|The Italian Supreme Pizza|Supreme |Calabrese Salami, Capocollo, Tomatoes, Red Onions, Green Olives, Garlic|S   |12.50|1       |12.50       |2015-11-13|2023-06-15 18:36:46|
+-------------------------+--------+-----------------------------------------------------------------------+----+-----+--------+------------+----------+-------------------+
only showing top 20 rows

### Creating upper case of Category

In [28]:
def upperCase(str):
    return str.upper()

upperCaseUDF = udf(lambda z:upperCase(z), StringType())

dfPizza = dfPizza.withColumn("Category",upperCaseUDF(col("Category")))
dfPizza.show(truncate=False)

+--------------------------+--------+-----------------------------------------------------------------------------------+----+-----+--------+------------+----------+-------------------+
|Name                      |Category|Ingredients                                                                        |Size|Price|Quantity|Total Amount|Date      |Time               |
+--------------------------+--------+-----------------------------------------------------------------------------------+----+-----+--------+------------+----------+-------------------+
|The Barbecue Chicken Pizza|CHICKEN |Barbecued Chicken, Red Peppers, Green Peppers, Tomatoes, Red Onions, Barbecue Sauce|L   |20.75|2       |41.50       |2015-12-31|2023-06-15 19:05:04|
|The Barbecue Chicken Pizza|CHICKEN |Barbecued Chicken, Red Peppers, Green Peppers, Tomatoes, Red Onions, Barbecue Sauce|L   |20.75|1       |20.75       |2015-12-31|2023-06-15 18:52:10|
|The Barbecue Chicken Pizza|CHICKEN |Barbecued Chicken, Red Peppers, Green Peppers, Tomatoes, Red Onions, Barbecue Sauce|L   |20.75|1       |20.75       |2015-12-31|2023-06-15 18:38:38|
|The Barbecue Chicken Pizza|CHICKEN |Barbecued Chicken, Red Peppers, Green Peppers, Tomatoes, Red Onions, Barbecue Sauce|L   |20.75|1       |20.75       |2015-12-31|2023-06-15 18:18:30|
|The Barbecue Chicken Pizza|CHICKEN |Barbecued Chicken, Red Peppers, Green Peppers, Tomatoes, Red Onions, Barbecue Sauce|L   |20.75|1       |20.75       |2015-12-30|2023-06-15 20:12:27|
|The Barbecue Chicken Pizza|CHICKEN |Barbecued Chicken, Red Peppers, Green Peppers, Tomatoes, Red Onions, Barbecue Sauce|L   |20.75|1       |20.75       |2015-12-29|2023-06-15 13:43:53|
|The Barbecue Chicken Pizza|CHICKEN |Barbecued Chicken, Red Peppers, Green Peppers, Tomatoes, Red Onions, Barbecue Sauce|L   |20.75|1       |20.75       |2015-12-27|2023-06-15 12:48:05|
|The Barbecue Chicken Pizza|CHICKEN |Barbecued Chicken, Red Peppers, Green Peppers, Tomatoes, Red Onions, Barbecue Sauce|L   |20.75|1       |20.75       |2015-12-26|2023-06-15 20:07:54|
|The Barbecue Chicken Pizza|CHICKEN |Barbecued Chicken, Red Peppers, Green Peppers, Tomatoes, Red Onions, Barbecue Sauce|L   |20.75|1       |20.75       |2015-12-26|2023-06-15 15:25:45|
|The Barbecue Chicken Pizza|CHICKEN |Barbecued Chicken, Red Peppers, Green Peppers, Tomatoes, Red Onions, Barbecue Sauce|L   |20.75|1       |20.75       |2015-12-26|2023-06-15 14:41:05|
|The Barbecue Chicken Pizza|CHICKEN |Barbecued Chicken, Red Peppers, Green Peppers, Tomatoes, Red Onions, Barbecue Sauce|L   |20.75|1       |20.75       |2015-12-24|2023-06-15 20:58:44|
|The Barbecue Chicken Pizza|CHICKEN |Barbecued Chicken, Red Peppers, Green Peppers, Tomatoes, Red Onions, Barbecue Sauce|L   |20.75|1       |20.75       |2015-12-24|2023-06-15 18:53:52|
|The Barbecue Chicken Pizza|CHICKEN |Barbecued Chicken, Red Peppers, Green Peppers, Tomatoes, Red Onions, Barbecue Sauce|L   |20.75|1       |20.75       |2015-12-24|2023-06-15 15:08:38|
|The Barbecue Chicken Pizza|CHICKEN |Barbecued Chicken, Red Peppers, Green Peppers, Tomatoes, Red Onions, Barbecue Sauce|L   |20.75|1       |20.75       |2015-12-23|2023-06-15 17:52:04|
|The Barbecue Chicken Pizza|CHICKEN |Barbecued Chicken, Red Peppers, Green Peppers, Tomatoes, Red Onions, Barbecue Sauce|L   |20.75|1       |20.75       |2015-12-23|2023-06-15 15:30:43|
|The Barbecue Chicken Pizza|CHICKEN |Barbecued Chicken, Red Peppers, Green Peppers, Tomatoes, Red Onions, Barbecue Sauce|L   |20.75|1       |20.75       |2015-12-23|2023-06-15 11:42:50|
|The Barbecue Chicken Pizza|CHICKEN |Barbecued Chicken, Red Peppers, Green Peppers, Tomatoes, Red Onions, Barbecue Sauce|L   |20.75|1       |20.75       |2015-12-22|2023-06-15 13:17:55|
|The Barbecue Chicken Pizza|CHICKEN |Barbecued Chicken, Red Peppers, Green Peppers, Tomatoes, Red Onions, Barbecue Sauce|L   |20.75|1       |20.75       |2015-12-21|2023-06-15 22:16:13|
|The Barbecue Chicken Pizza|CHICKEN |Barbecued Chicken, Red Peppers, Green Peppers, Tomatoes, Red Onions, Barbecue Sauce|L   |20.75|1       |20.75       |2015-12-21|2023-06-15 18:51:54|
|The Barbecue Chicken Pizza|CHICKEN |Barbecued Chicken, Red Peppers, Green Peppers, Tomatoes, Red Onions, Barbecue Sauce|L   |20.75|1       |20.75       |2015-12-21|2023-06-15 17:09:32|
+--------------------------+--------+-----------------------------------------------------------------------------------+----+-----+--------+------------+----------+-------------------+
only showing top 20 rows

### Summing of Total Amount by Category and Pizza Name

In [29]:
dfPizzaCategoryByTotalAmount = dfPizza.groupBy("Category").sum("Total Amount").orderBy(desc("sum(Total Amount)"))
dfPizzaCategoryByTotalAmount.select("Category",col("sum(Total Amount)").alias("Total Amount")).show(truncate=False)

+--------+------------+
|Category|Total Amount|
+--------+------------+
|CLASSIC |220053.10   |
|SUPREME |208197.00   |
|CHICKEN |195919.50   |
|VEGGIE  |193690.45   |
+--------+------------+

In [30]:
dfPizzaPizzaNameByTotalAmount = dfPizza.groupBy("Name").sum("Total Amount")
dfPizzaPizzaNameByTotalAmount = dfPizzaPizzaNameByTotalAmount.select("Name",col("sum(Total Amount)").alias("Total Amount"))
windowSpec = Window.orderBy(desc("Total Amount"))
dfPizzaPizzaNameByTotalAmount.withColumn("Ranking", row_number().over(windowSpec)).show(truncate=False)

+---------------------------------+------------+-------+
|Name                             |Total Amount|Ranking|
+---------------------------------+------------+-------+
|The Thai Chicken Pizza           |43434.25    |1      |
|The Barbecue Chicken Pizza       |42768.00    |2      |
|The California Chicken Pizza     |41409.50    |3      |
|The Classic Deluxe Pizza         |38180.50    |4      |
|The Spicy Italian Pizza          |34831.25    |5      |
|The Southwest Chicken Pizza      |34705.75    |6      |
|The Italian Supreme Pizza        |33476.75    |7      |
|The Hawaiian Pizza               |32273.25    |8      |
|The Four Cheese Pizza            |32265.70    |9      |
|The Sicilian Pizza               |30940.50    |10     |
|The Pepperoni Pizza              |30161.75    |11     |
|The Greek Pizza                  |28454.10    |12     |
|The Mexicana Pizza               |26780.75    |13     |
|The Five Cheese Pizza            |26066.50    |14     |
|The Pepper Salami Pizza          |25529.00    |15     |
|The Italian Capocollo Pizza      |25094.00    |16     |
|The Vegetables + Vegetables Pizza|24374.75    |17     |
|The Prosciutto and Arugula Pizza |24193.25    |18     |
|The Napolitana Pizza             |24087.00    |19     |
|The Spinach and Feta Pizza       |23271.25    |20     |
+---------------------------------+------------+-------+
only showing top 20 rows

### Grouping of Pizza Name

In [31]:
dfPizzaPizzaNameByTotalAmount.withColumn("Grouping",ntile(5).over(windowSpec)).show(truncate=False)

dfPizzaPizzaNameByTotalAmountGrouping =  dfPizzaPizzaNameByTotalAmount.withColumn("Grouping",ntile(5).over(windowSpec))

+---------------------------------+------------+--------+
|Name                             |Total Amount|Grouping|
+---------------------------------+------------+--------+
|The Thai Chicken Pizza           |43434.25    |1       |
|The Barbecue Chicken Pizza       |42768.00    |1       |
|The California Chicken Pizza     |41409.50    |1       |
|The Classic Deluxe Pizza         |38180.50    |1       |
|The Spicy Italian Pizza          |34831.25    |1       |
|The Southwest Chicken Pizza      |34705.75    |1       |
|The Italian Supreme Pizza        |33476.75    |1       |
|The Hawaiian Pizza               |32273.25    |2       |
|The Four Cheese Pizza            |32265.70    |2       |
|The Sicilian Pizza               |30940.50    |2       |
|The Pepperoni Pizza              |30161.75    |2       |
|The Greek Pizza                  |28454.10    |2       |
|The Mexicana Pizza               |26780.75    |2       |
|The Five Cheese Pizza            |26066.50    |2       |
|The Pepper Salami Pizza          |25529.00    |3       |
|The Italian Capocollo Pizza      |25094.00    |3       |
|The Vegetables + Vegetables Pizza|24374.75    |3       |
|The Prosciutto and Arugula Pizza |24193.25    |3       |
|The Napolitana Pizza             |24087.00    |3       |
|The Spinach and Feta Pizza       |23271.25    |3       |
+---------------------------------+------------+--------+
only showing top 20 rows

In [32]:
dfPizzaPizzaNameByTotalAmountGrouping.filter(dfPizzaPizzaNameByTotalAmountGrouping["Grouping"] == 1).show(truncate=False)

+----------------------------+------------+--------+
|Name                        |Total Amount|Grouping|
+----------------------------+------------+--------+
|The Thai Chicken Pizza      |43434.25    |1       |
|The Barbecue Chicken Pizza  |42768.00    |1       |
|The California Chicken Pizza|41409.50    |1       |
|The Classic Deluxe Pizza    |38180.50    |1       |
|The Spicy Italian Pizza     |34831.25    |1       |
|The Southwest Chicken Pizza |34705.75    |1       |
|The Italian Supreme Pizza   |33476.75    |1       |
+----------------------------+------------+--------+

In [33]:
dfPizzaPizzaNameByTotalAmountGrouping.filter(dfPizzaPizzaNameByTotalAmountGrouping["Grouping"] == 5).show(truncate=False)

+-------------------------+------------+--------+
|Name                     |Total Amount|Grouping|
+-------------------------+------------+--------+
|The Calabrese Pizza      |15934.25    |5       |
|The Spinach Pesto Pizza  |15596.00    |5       |
|The Mediterranean Pizza  |15360.50    |5       |
|The Spinach Supreme Pizza|15277.75    |5       |
|The Green Garden Pizza   |13955.75    |5       |
|The Brie Carre Pizza     |11588.50    |5       |
+-------------------------+------------+--------+

### Running Total by Month

In [34]:
dfPizzaGrouping = dfPizza.select(year(col("Date")),
               month(col("Date")),
               col("Total Amount"))


dfPizzaGrouping = dfPizzaGrouping.groupBy("year(Date)","month(Date)").sum("Total Amount")
dfPizzaGrouping = dfPizzaGrouping.na.drop()
dfPizzaGrouping = dfPizzaGrouping.select(col("year(Date)").alias("Year"),
                       col("month(Date)").alias("Month"),
                       col("sum(Total Amount)").alias("Total Amount"))

dfPizzaGrouping.orderBy("Month").show(truncate=False)

+----+-----+------------+
|Year|Month|Total Amount|
+----+-----+------------+
|2015|1    |69793.30    |
|2015|2    |65159.60    |
|2015|3    |70397.10    |
|2015|4    |68736.80    |
|2015|5    |71402.75    |
|2015|6    |68230.20    |
|2015|7    |72557.90    |
|2015|8    |68278.25    |
|2015|9    |64180.05    |
|2015|10   |64027.60    |
|2015|11   |70395.35    |
|2015|12   |64701.15    |
+----+-----+------------+

In [35]:
windowSpec = Window.partitionBy().orderBy("Month")
windowval = (Window.partitionBy().orderBy("Month").rangeBetween(Window.unboundedPreceding,0))

dfPizzaGrouping = dfPizzaGrouping.select("Year",
                                         "Month",
                                         concat_ws("-",col("Month"),col("Year")).alias("Month-Year"),
                                         "Total Amount")
dfPizzaGrouping = dfPizzaGrouping.withColumn("Lag", lag(col("Total Amount"), offset=1, default=0).over(windowSpec))
dfPizzaGrouping = dfPizzaGrouping.withColumn("Diff",
                                             when(isnull(col("Total Amount") - col("Lag")),0)
                                                  .otherwise(col("Total Amount") - col("Lag")))
dfPizzaGrouping = dfPizzaGrouping.withColumn("Lead", lead(col("Total Amount"), offset=1,default = 0).over(windowSpec))
dfPizzaGrouping = dfPizzaGrouping.withColumn("Cummluative Sum", sum(col("Total Amount")).over(windowval))

dfPizzaGrouping.select("Month-Year",
                       "Total Amount",
                       "Lag",
                       "Diff",
                       "Lead",
                       "Cummluative Sum").show(truncate=False )

+----------+------------+--------+--------+--------+---------------+
|Month-Year|Total Amount|Lag     |Diff    |Lead    |Cummluative Sum|
+----------+------------+--------+--------+--------+---------------+
|1-2015    |69793.30    |0.00    |69793.30|65159.60|69793.30       |
|2-2015    |65159.60    |69793.30|-4633.70|70397.10|134952.90      |
|3-2015    |70397.10    |65159.60|5237.50 |68736.80|205350.00      |
|4-2015    |68736.80    |70397.10|-1660.30|71402.75|274086.80      |
|5-2015    |71402.75    |68736.80|2665.95 |68230.20|345489.55      |
|6-2015    |68230.20    |71402.75|-3172.55|72557.90|413719.75      |
|7-2015    |72557.90    |68230.20|4327.70 |68278.25|486277.65      |
|8-2015    |68278.25    |72557.90|-4279.65|64180.05|554555.90      |
|9-2015    |64180.05    |68278.25|-4098.20|64027.60|618735.95      |
|10-2015   |64027.60    |64180.05|-152.45 |70395.35|682763.55      |
|11-2015   |70395.35    |64027.60|6367.75 |64701.15|753158.90      |
|12-2015   |64701.15    |70395.35|-5694.20|0.00    |817860.05      |
+----------+------------+--------+--------+--------+---------------+

### The quantity of orders in terms of Pizza and its size

In [36]:
dfOrderedPizza = dfPizza.na.drop()

dfOrderedPizza = dfOrderedPizza.groupBy("Name").count()

dfOrderedPizza = dfOrderedPizza.select("Name",col("Count").alias("Quantity of Orders")).orderBy(desc("count"))

dfOrderedPizza.show(dfOrderedPizza.count(), False)

+------------------------------------------+------------------+
|Name                                      |Quantity of Orders|
+------------------------------------------+------------------+
|The Classic Deluxe Pizza                  |2416              |
|The Barbecue Chicken Pizza                |2372              |
|The Hawaiian Pizza                        |2370              |
|The Pepperoni Pizza                       |2369              |
|The Thai Chicken Pizza                    |2315              |
|The California Chicken Pizza              |2302              |
|The Spicy Italian Pizza                   |1887              |
|The Sicilian Pizza                        |1887              |
|The Southwest Chicken Pizza               |1885              |
|The Four Cheese Pizza                     |1850              |
|The Italian Supreme Pizza                 |1849              |
|The Big Meat Pizza                        |1811              |
|The Vegetables + Vegetables Pizza         |1510              |
|The Mexicana Pizza                        |1456              |
|The Napolitana Pizza                      |1451              |
|The Spinach and Feta Pizza                |1432              |
|The Prosciutto and Arugula Pizza          |1428              |
|The Pepper Salami Pizza                   |1422              |
|The Italian Capocollo Pizza               |1414              |
|The Greek Pizza                           |1406              |
|The Five Cheese Pizza                     |1359              |
|The Pepperoni, Mushroom, and Peppers Pizza|1342              |
|The Green Garden Pizza                    |987               |
|The Chicken Alfredo Pizza                 |980               |
|The Italian Vegetables Pizza              |975               |
|The Chicken Pesto Pizza                   |961               |
|The Soppressata Pizza                     |957               |
|The Spinach Pesto Pizza                   |957               |
|The Spinach Supreme Pizza                 |940               |
|The Calabrese Pizza                       |927               |
|The Mediterranean Pizza                   |923               |
|The Brie Carre Pizza                      |480               |
+------------------------------------------+------------------+

In [37]:
dfPizzaSize = dfPizza.groupBy("Size").count()
dfPizzaSize.na.drop()
dfPizzaSize.select("Size", col("count").alias("Quantity of Orders")).orderBy(desc("Quantity of Orders")).show(truncate=False)

+----+------------------+
|Size|Quantity of Orders|
+----+------------------+
|L   |18527             |
|M   |15387             |
|S   |14139             |
|XL  |544               |
|XXL |28                |
+----+------------------+

### Quantity of orders in a day and which pizza was ordered most of the time

In [38]:
dfPizzaWithoutTime  = dfPizza.select('Name',
 'Category',
 'Ingredients',
 'Size',
 'Price',
 'Quantity',
 'Total Amount',
 'Date')

dfPizzaDayMonthYear = dfPizzaWithoutTime.withColumn("Day", dayofmonth(col("Date"))) \
        .withColumn("Month", month(col("Date"))) \
        .withColumn("Month Name",date_format("date", "MMMM")) \
        .withColumn("Year", year(col("Date")))

dfPizzaDayMonthYear = dfPizzaDayMonthYear.na.drop()

dfPizzaDayMonthYearQuantity = dfPizzaDayMonthYear.groupBy("Day","Month","Month Name").count().orderBy("Month","Day")

dfPizzaDayMonthYearQuantity = dfPizzaDayMonthYearQuantity.select("Day","Month Name", col("count").alias("Quantity of Orders"))

dfPizzaDayMonthYearQuantity.show(dfPizzaDayMonthYearQuantity.count(), False)

+---+----------+------------------+
|Day|Month Name|Quantity of Orders|
+---+----------+------------------+
|1  |January   |161               |
|2  |January   |160               |
|3  |January   |154               |
|4  |January   |106               |
|5  |January   |121               |
|6  |January   |144               |
|7  |January   |133               |
|8  |January   |171               |
|9  |January   |123               |
|10 |January   |145               |
|11 |January   |114               |
|12 |January   |118               |
|13 |January   |117               |
|14 |January   |144               |
|15 |January   |123               |
|16 |January   |155               |
|17 |January   |122               |
|18 |January   |119               |
|19 |January   |139               |
|20 |January   |139               |
|21 |January   |127               |
|22 |January   |155               |
|23 |January   |149               |
|24 |January   |142               |
|25 |January   |101               |
|26 |January   |113               |
|27 |January   |149               |
|28 |January   |116               |
|29 |January   |115               |
|30 |January   |138               |
|31 |January   |143               |
|1  |February  |188               |
|2  |February  |143               |
|3  |February  |153               |
|4  |February  |135               |
|5  |February  |132               |
|6  |February  |152               |
|7  |February  |135               |
|8  |February  |122               |
|9  |February  |134               |
|10 |February  |122               |
|11 |February  |152               |
|12 |February  |127               |
|13 |February  |160               |
|14 |February  |137               |
|15 |February  |128               |
|16 |February  |118               |
|17 |February  |128               |
|18 |February  |160               |
|19 |February  |122               |
|20 |February  |169               |
|21 |February  |124               |
|22 |February  |93                |
|23 |February  |125               |
|24 |February  |132               |
|25 |February  |141               |
|26 |February  |136               |
|27 |February  |171               |
|28 |February  |153               |
|1  |March     |99                |
|2  |March     |138               |
|3  |March     |133               |
|4  |March     |144               |
|5  |March     |140               |
|6  |March     |145               |
|7  |March     |139               |
|8  |March     |132               |
|9  |March     |136               |
|10 |March     |142               |
|11 |March     |132               |
|12 |March     |115               |
|13 |March     |173               |
|14 |March     |122               |
|15 |March     |124               |
|16 |March     |140               |
|17 |March     |176               |
|18 |March     |119               |
|19 |March     |143               |
|20 |March     |148               |
|21 |March     |134               |
|22 |March     |76                |
|23 |March     |131               |
|24 |March     |128               |
|25 |March     |115               |
|26 |March     |136               |
|27 |March     |167               |
|28 |March     |138               |
|29 |March     |129               |
|30 |March     |133               |
|31 |March     |159               |
|1  |April     |133               |
|2  |April     |144               |
|3  |April     |154               |
|4  |April     |162               |
|5  |April     |116               |
|6  |April     |153               |
|7  |April     |136               |
|8  |April     |131               |
|9  |April     |121               |
|10 |April     |142               |
|11 |April     |150               |
|12 |April     |116               |
|13 |April     |143               |
|14 |April     |141               |
|15 |April     |155               |
|16 |April     |125               |
|17 |April     |161               |
|18 |April     |135               |
|19 |April     |92                |
|20 |April     |148               |
|21 |April     |130               |
|22 |April     |132               |
|23 |April     |137               |
|24 |April     |171               |
|25 |April     |125               |
|26 |April     |110               |
|27 |April     |133               |
|28 |April     |101               |
|29 |April     |107               |
|30 |April     |163               |
|1  |May       |152               |
|2  |May       |149               |
|3  |May       |113               |
|4  |May       |138               |
|5  |May       |105               |
|6  |May       |138               |
|7  |May       |125               |
|8  |May       |177               |
|9  |May       |140               |
|10 |May       |140               |
|11 |May       |141               |
|12 |May       |140               |
|13 |May       |137               |
|14 |May       |157               |
|15 |May       |205               |
|16 |May       |141               |
|17 |May       |106               |
|18 |May       |132               |
|19 |May       |114               |
|20 |May       |137               |
|21 |May       |122               |
|22 |May       |150               |
|23 |May       |141               |
|24 |May       |130               |
|25 |May       |122               |
|26 |May       |114               |
|27 |May       |123               |
|28 |May       |118               |
|29 |May       |180               |
|30 |May       |144               |
|31 |May       |108               |
|1  |June      |180               |
|2  |June      |146               |
|3  |June      |112               |
|4  |June      |137               |
|5  |June      |158               |
|6  |June      |133               |
|7  |June      |117               |
|8  |June      |129               |
|9  |June      |145               |
|10 |June      |116               |
|11 |June      |152               |
|12 |June      |129               |
|13 |June      |150               |
|14 |June      |110               |
|15 |June      |150               |
|16 |June      |113               |
|17 |June      |124               |
|18 |June      |114               |
|19 |June      |167               |
|20 |June      |124               |
|21 |June      |114               |
|22 |June      |137               |
|23 |June      |123               |
|24 |June      |136               |
|25 |June      |144               |
|26 |June      |161               |
|27 |June      |167               |
|28 |June      |93                |
|29 |June      |118               |
|30 |June      |126               |
|1  |July      |134               |
|2  |July      |135               |
|3  |July      |207               |
|4  |July      |233               |
|5  |July      |95                |
|6  |July      |128               |
|7  |July      |136               |
|8  |July      |139               |
|9  |July      |133               |
|10 |July      |144               |
|11 |July      |124               |
|12 |July      |128               |
|13 |July      |122               |
|14 |July      |117               |
|15 |July      |152               |
|16 |July      |141               |
|17 |July      |185               |
|18 |July      |128               |
|19 |July      |118               |
|20 |July      |144               |
|21 |July      |117               |
|22 |July      |133               |
|23 |July      |133               |
|24 |July      |188               |
|25 |July      |134               |
|26 |July      |108               |
|27 |July      |126               |
|28 |July      |130               |
|29 |July      |115               |
|30 |July      |143               |
|31 |July      |131               |
|1  |August    |150               |
|2  |August    |110               |
|3  |August    |114               |
|4  |August    |121               |
|5  |August    |127               |
|6  |August    |132               |
|7  |August    |155               |
|8  |August    |165               |
|9  |August    |124               |
|10 |August    |124               |
|11 |August    |134               |
|12 |August    |143               |
|13 |August    |130               |
|14 |August    |185               |
|15 |August    |139               |
|16 |August    |126               |
|17 |August    |156               |
|18 |August    |127               |
|19 |August    |133               |
|20 |August    |115               |
|21 |August    |161               |
|22 |August    |145               |
|23 |August    |101               |
|24 |August    |105               |
|25 |August    |112               |
|26 |August    |133               |
|27 |August    |125               |
|28 |August    |161               |
|29 |August    |122               |
|30 |August    |94                |
|31 |August    |125               |
|1  |September |143               |
|2  |September |110               |
|3  |September |133               |
|4  |September |178               |
|5  |September |151               |
|6  |September |91                |
|7  |September |138               |
|8  |September |131               |
|9  |September |154               |
|10 |September |146               |
|11 |September |165               |
|12 |September |155               |
|13 |September |105               |
|14 |September |128               |
|15 |September |155               |
|16 |September |134               |
|17 |September |135               |
|18 |September |160               |
|19 |September |136               |
|20 |September |105               |
|21 |September |127               |
|22 |September |127               |
|23 |September |129               |
|26 |September |137               |
|27 |September |138               |
|28 |September |119               |
|29 |September |160               |
|30 |September |129               |
|1  |October   |190               |
|2  |October   |121               |
|3  |October   |142               |
|4  |October   |125               |
|6  |October   |132               |
|7  |October   |130               |
|8  |October   |115               |
|9  |October   |144               |
|10 |October   |140               |
|11 |October   |114               |
|13 |October   |141               |
|14 |October   |131               |
|15 |October   |258               |
|16 |October   |148               |
|17 |October   |133               |
|18 |October   |100               |
|20 |October   |152               |
|21 |October   |147               |
|22 |October   |143               |
|23 |October   |154               |
|24 |October   |156               |
|25 |October   |110               |
|27 |October   |118               |
|28 |October   |103               |
|29 |October   |127               |
|30 |October   |164               |
|31 |October   |159               |
|1  |November  |123               |
|2  |November  |137               |
|3  |November  |112               |
|4  |November  |121               |
|5  |November  |124               |
|6  |November  |185               |
|7  |November  |156               |
|8  |November  |125               |
|9  |November  |146               |
|10 |November  |122               |
|11 |November  |116               |
|12 |November  |147               |
|13 |November  |139               |
|14 |November  |140               |
|15 |November  |113               |
|16 |November  |135               |
|17 |November  |113               |
|18 |November  |121               |
|19 |November  |161               |
|20 |November  |147               |
|21 |November  |129               |
|22 |November  |82                |
|23 |November  |142               |
|24 |November  |129               |
|25 |November  |141               |
|26 |November  |261               |
|27 |November  |259               |
|28 |November  |116               |
|29 |November  |111               |
|30 |November  |132               |
|1  |December  |129               |
|2  |December  |131               |
|3  |December  |133               |
|4  |December  |173               |
|5  |December  |158               |
|6  |December  |140               |
|7  |December  |147               |
|8  |December  |109               |
|9  |December  |156               |
|10 |December  |118               |
|11 |December  |161               |
|12 |December  |125               |
|13 |December  |126               |
|14 |December  |131               |
|15 |December  |142               |
|16 |December  |133               |
|17 |December  |110               |
|18 |December  |174               |
|19 |December  |138               |
|20 |December  |122               |
|21 |December  |128               |
|22 |December  |111               |
|23 |December  |130               |
|24 |December  |129               |
|26 |December  |95                |
|27 |December  |87                |
|28 |December  |102               |
|29 |December  |77                |
|30 |December  |73                |
|31 |December  |171               |
+---+----------+------------------+

In [39]:
dfPizzaDayNameQuantity = dfPizzaDayMonthYear.groupBy("Day","Month","Month Name","Name").count().orderBy("Month","Day")


dfPizzaDayNameQuantity = dfPizzaDayNameQuantity.select("Day","Month Name","Name",col("count").alias("Quantity of Orders"))

dfPizzaDayNameQuantity.show(30)

+---+----------+--------------------+------------------+
|Day|Month Name|                Name|Quantity of Orders|
+---+----------+--------------------+------------------+
|  1|   January|The Italian Veget...|                 2|
|  1|   January|The Barbecue Chic...|                11|
|  1|   January|The Pepper Salami...|                 4|
|  1|   January| The Pepperoni Pizza|                 6|
|  1|   January|The Vegetables + ...|                 3|
|  1|   January|The Pepperoni, Mu...|                 6|
|  1|   January|  The Sicilian Pizza|                 4|
|  1|   January|The Mediterranean...|                 2|
|  1|   January| The Calabrese Pizza|                 1|
|  1|   January|The Soppressata P...|                 1|
|  1|   January|The Chicken Pesto...|                 4|
|  1|   January|  The Hawaiian Pizza|                 4|
|  1|   January|The Napolitana Pizza|                 2|
|  1|   January|The Southwest Chi...|                 7|
|  1|   January|The Classic Delux...|                10|
|  1|   January|The Thai Chicken ...|                 8|
|  1|   January|The Spicy Italian...|                 5|
|  1|   January|The Five Cheese P...|                 7|
|  1|   January|     The Greek Pizza|                 5|
|  1|   January|The California Ch...|                 4|
|  1|   January|  The Mexicana Pizza|                 9|
|  1|   January|The Spinach Pesto...|                 2|
|  1|   January|The Chicken Alfre...|                 2|
|  1|   January|  The Big Meat Pizza|                 5|
|  1|   January|The Green Garden ...|                 7|
|  1|   January|The Spinach and F...|                 2|
|  1|   January|The Prosciutto an...|                 4|
|  1|   January|The Spinach Supre...|                 5|
|  1|   January|The Italian Capoc...|                 8|
|  1|   January|The Four Cheese P...|                 6|
+---+----------+--------------------+------------------+
only showing top 30 rows

### Total Amount of Pizza in each day

In [40]:
dfPizzaTotalAmountEachDay = dfPizzaDayMonthYear.groupBy("Day","Month","Month Name").sum("Total Amount").orderBy("Month","Day")

dfPizzaTotalAmountEachDay = dfPizzaTotalAmountEachDay.select("Day","Month Name",col("sum(Total Amount)").alias("Total Amount"))
dfPizzaTotalAmountEachDay.show(dfPizzaTotalAmountEachDay.count(), False)

+---+----------+------------+
|Day|Month Name|Total Amount|
+---+----------+------------+
|1  |January   |2713.85     |
|2  |January   |2731.90     |
|3  |January   |2662.40     |
|4  |January   |1755.45     |
|5  |January   |2065.95     |
|6  |January   |2428.95     |
|7  |January   |2202.20     |
|8  |January   |2838.35     |
|9  |January   |2127.35     |
|10 |January   |2463.95     |
|11 |January   |1872.30     |
|12 |January   |1919.05     |
|13 |January   |2049.60     |
|14 |January   |2527.40     |
|15 |January   |1984.80     |
|16 |January   |2594.15     |
|17 |January   |2064.10     |
|18 |January   |1976.85     |
|19 |January   |2387.15     |
|20 |January   |2397.90     |
|21 |January   |2040.55     |
|22 |January   |2496.70     |
|23 |January   |2423.70     |
|24 |January   |2289.25     |
|25 |January   |1617.55     |
|26 |January   |1884.40     |
|27 |January   |2528.05     |
|28 |January   |2016.00     |
|29 |January   |2045.30     |
|30 |January   |2270.30     |
|31 |January   |2417.85     |
|1  |February  |3189.20     |
|2  |February  |2328.60     |
|3  |February  |2614.80     |
|4  |February  |2233.90     |
|5  |February  |2215.80     |
|6  |February  |2509.95     |
|7  |February  |2237.65     |
|8  |February  |2035.00     |
|9  |February  |2195.35     |
|10 |February  |2056.50     |
|11 |February  |2460.00     |
|12 |February  |2158.80     |
|13 |February  |2754.50     |
|14 |February  |2319.15     |
|15 |February  |2141.25     |
|16 |February  |1968.80     |
|17 |February  |2121.90     |
|18 |February  |2642.85     |
|19 |February  |2030.25     |
|20 |February  |2891.15     |
|21 |February  |2111.00     |
|22 |February  |1579.95     |
|23 |February  |2168.55     |
|24 |February  |2194.55     |
|25 |February  |2341.30     |
|26 |February  |2261.30     |
|27 |February  |2857.95     |
|28 |February  |2539.60     |
|1  |March     |1598.55     |
|2  |March     |2379.05     |
|3  |March     |2287.90     |
|4  |March     |2444.30     |
|5  |March     |2350.65     |
|6  |March     |2513.95     |
|7  |March     |2400.45     |
|8  |March     |2188.15     |
|9  |March     |2334.55     |
|10 |March     |2388.70     |
|11 |March     |2207.70     |
|12 |March     |1994.90     |
|13 |March     |2786.65     |
|14 |March     |2039.45     |
|15 |March     |2068.60     |
|16 |March     |2295.05     |
|17 |March     |2965.30     |
|18 |March     |2075.40     |
|19 |March     |2388.60     |
|20 |March     |2461.25     |
|21 |March     |2267.40     |
|22 |March     |1259.25     |
|23 |March     |2232.55     |
|24 |March     |2162.30     |
|25 |March     |1927.75     |
|26 |March     |2215.50     |
|27 |March     |2744.80     |
|28 |March     |2252.10     |
|29 |March     |2154.25     |
|30 |March     |2255.45     |
|31 |March     |2756.60     |
|1  |April     |2176.85     |
|2  |April     |2547.15     |
|3  |April     |2538.20     |
|4  |April     |2767.55     |
|5  |April     |1909.85     |
|6  |April     |2622.35     |
|7  |April     |2234.25     |
|8  |April     |2293.95     |
|9  |April     |2047.30     |
|10 |April     |2424.95     |
|11 |April     |2543.75     |
|12 |April     |1994.30     |
|13 |April     |2496.20     |
|14 |April     |2505.70     |
|15 |April     |2578.85     |
|16 |April     |2017.95     |
|17 |April     |2675.65     |
|18 |April     |2286.20     |
|19 |April     |1527.95     |
|20 |April     |2459.45     |
|21 |April     |2213.15     |
|22 |April     |2193.45     |
|23 |April     |2426.15     |
|24 |April     |2979.20     |
|25 |April     |2089.20     |
|26 |April     |1767.40     |
|27 |April     |2180.80     |
|28 |April     |1742.80     |
|29 |April     |1828.75     |
|30 |April     |2667.50     |
|1  |May       |2571.95     |
|2  |May       |2400.20     |
|3  |May       |1832.25     |
|4  |May       |2288.90     |
|5  |May       |1713.60     |
|6  |May       |2309.80     |
|7  |May       |2228.85     |
|8  |May       |3052.30     |
|9  |May       |2368.40     |
|10 |May       |2288.35     |
|11 |May       |2388.05     |
|12 |May       |2299.70     |
|13 |May       |2261.80     |
|14 |May       |2694.50     |
|15 |May       |3386.15     |
|16 |May       |2281.10     |
|17 |May       |1828.40     |
|18 |May       |2209.65     |
|19 |May       |1987.00     |
|20 |May       |2373.00     |
|21 |May       |2062.55     |
|22 |May       |2635.10     |
|23 |May       |2444.15     |
|24 |May       |2196.95     |
|25 |May       |2104.40     |
|26 |May       |1876.45     |
|27 |May       |2097.00     |
|28 |May       |2016.40     |
|29 |May       |3001.20     |
|30 |May       |2486.95     |
|31 |May       |1717.65     |
|1  |June      |3067.75     |
|2  |June      |2449.95     |
|3  |June      |1907.05     |
|4  |June      |2283.60     |
|5  |June      |2700.15     |
|6  |June      |2280.95     |
|7  |June      |1960.75     |
|8  |June      |2264.95     |
|9  |June      |2442.55     |
|10 |June      |2019.40     |
|11 |June      |2650.50     |
|12 |June      |2138.60     |
|13 |June      |2508.90     |
|14 |June      |1859.00     |
|15 |June      |2595.60     |
|16 |June      |1898.30     |
|17 |June      |2137.10     |
|18 |June      |1984.50     |
|19 |June      |2793.45     |
|20 |June      |2060.60     |
|21 |June      |1925.20     |
|22 |June      |2319.30     |
|23 |June      |2042.75     |
|24 |June      |2327.50     |
|25 |June      |2399.15     |
|26 |June      |2745.50     |
|27 |June      |2812.90     |
|28 |June      |1569.70     |
|29 |June      |1873.60     |
|30 |June      |2210.95     |
|1  |July      |2231.50     |
|2  |July      |2294.80     |
|3  |July      |3443.00     |
|4  |July      |3864.20     |
|5  |July      |1591.45     |
|6  |July      |2116.90     |
|7  |July      |2374.40     |
|8  |July      |2396.05     |
|9  |July      |2297.75     |
|10 |July      |2432.40     |
|11 |July      |2085.55     |
|12 |July      |2185.65     |
|13 |July      |2059.50     |
|14 |July      |1956.50     |
|15 |July      |2501.80     |
|16 |July      |2463.90     |
|17 |July      |3131.65     |
|18 |July      |2122.20     |
|19 |July      |2022.70     |
|20 |July      |2501.00     |
|21 |July      |2030.85     |
|22 |July      |2292.10     |
|23 |July      |2214.50     |
|24 |July      |3204.40     |
|25 |July      |2237.25     |
|26 |July      |1871.55     |
|27 |July      |2172.00     |
|28 |July      |2094.55     |
|29 |July      |1923.25     |
|30 |July      |2349.15     |
|31 |July      |2095.40     |
|1  |August    |2440.55     |
|2  |August    |1910.15     |
|3  |August    |1982.25     |
|4  |August    |2090.15     |
|5  |August    |2094.85     |
|6  |August    |2099.25     |
|7  |August    |2626.40     |
|8  |August    |2716.40     |
|9  |August    |2002.65     |
|10 |August    |2139.45     |
|11 |August    |2290.00     |
|12 |August    |2365.75     |
|13 |August    |2074.15     |
|14 |August    |3016.60     |
|15 |August    |2252.35     |
|16 |August    |2139.30     |
|17 |August    |2626.00     |
|18 |August    |2101.20     |
|19 |August    |2332.95     |
|20 |August    |1907.70     |
|21 |August    |2601.40     |
|22 |August    |2406.00     |
|23 |August    |1701.60     |
|24 |August    |1697.05     |
|25 |August    |1958.90     |
|26 |August    |2329.40     |
|27 |August    |2117.65     |
|28 |August    |2647.20     |
|29 |August    |2035.00     |
|30 |August    |1494.60     |
|31 |August    |2081.35     |
|1  |September |2352.85     |
|2  |September |1865.55     |
|3  |September |2252.60     |
|4  |September |2960.95     |
|5  |September |2537.80     |
|6  |September |1491.65     |
|7  |September |2283.35     |
|8  |September |2249.50     |
|9  |September |2580.10     |
|10 |September |2415.85     |
|11 |September |2761.90     |
|12 |September |2588.15     |
|13 |September |1838.15     |
|14 |September |2165.25     |
|15 |September |2550.20     |
|16 |September |2185.25     |
|17 |September |2242.05     |
|18 |September |2721.55     |
|19 |September |2286.55     |
|20 |September |1829.00     |
|21 |September |2131.45     |
|22 |September |2170.40     |
|23 |September |2163.00     |
|26 |September |2246.85     |
|27 |September |2314.70     |
|28 |September |2035.30     |
|29 |September |2762.05     |
|30 |September |2198.05     |
|1  |October   |3202.15     |
|2  |October   |2074.85     |
|3  |October   |2400.95     |
|4  |October   |2142.20     |
|6  |October   |2215.95     |
|7  |October   |2092.35     |
|8  |October   |1975.85     |
|9  |October   |2512.60     |
|10 |October   |2310.20     |
|11 |October   |1916.25     |
|13 |October   |2325.95     |
|14 |October   |2146.35     |
|15 |October   |4320.20     |
|16 |October   |2555.10     |
|17 |October   |2339.80     |
|18 |October   |1795.30     |
|20 |October   |2437.15     |
|21 |October   |2460.50     |
|22 |October   |2400.90     |
|23 |October   |2610.65     |
|24 |October   |2679.50     |
|25 |October   |1837.05     |
|27 |October   |1988.65     |
|28 |October   |1635.95     |
|29 |October   |2169.75     |
|30 |October   |2736.60     |
|31 |October   |2744.85     |
|1  |November  |1986.65     |
|2  |November  |2299.10     |
|3  |November  |1828.55     |
|4  |November  |1966.10     |
|5  |November  |2180.35     |
|6  |November  |3157.50     |
|7  |November  |2580.95     |
|8  |November  |2110.15     |
|9  |November  |2483.75     |
|10 |November  |2042.60     |
|11 |November  |1946.20     |
|12 |November  |2564.80     |
|13 |November  |2264.55     |
|14 |November  |2324.75     |
|15 |November  |1821.65     |
|16 |November  |2256.65     |
|17 |November  |1956.55     |
|18 |November  |2111.70     |
|19 |November  |2694.90     |
|20 |November  |2388.10     |
|21 |November  |2083.95     |
|22 |November  |1368.70     |
|23 |November  |2465.15     |
|24 |November  |2230.05     |
|25 |November  |2363.25     |
|26 |November  |4405.95     |
|27 |November  |4422.45     |
|28 |November  |1968.05     |
|29 |November  |1899.00     |
|30 |November  |2223.25     |
|1  |December  |2076.70     |
|2  |December  |2214.10     |
|3  |December  |2243.20     |
|4  |December  |2878.35     |
|5  |December  |2627.95     |
|6  |December  |2350.25     |
|7  |December  |2414.80     |
|8  |December  |1856.25     |
|9  |December  |2571.55     |
|10 |December  |1985.60     |
|11 |December  |2634.00     |
|12 |December  |1960.15     |
|13 |December  |2245.15     |
|14 |December  |2172.60     |
|15 |December  |2387.45     |
|16 |December  |2234.80     |
|17 |December  |1880.75     |
|18 |December  |2886.30     |
|19 |December  |2304.20     |
|20 |December  |2104.90     |
|21 |December  |2100.70     |
|22 |December  |1882.95     |
|23 |December  |2244.30     |
|24 |December  |2137.85     |
|26 |December  |1643.05     |
|27 |December  |1419.00     |
|28 |December  |1637.20     |
|29 |December  |1353.25     |
|30 |December  |1337.80     |
|31 |December  |2916.00     |
+---+----------+------------+

In [41]:
dfPizzaDayNameTotalAmount = dfPizzaDayMonthYear.groupBy("Day","Month","Month Name","Name").sum("Total Amount").orderBy("Month","Day")

dfPizzaDayNameTotalAmount = dfPizzaDayNameTotalAmount.select("Day","Month Name","Name",col("sum(Total Amount)").alias("Total Amount"))

dfPizzaDayNameTotalAmount.show(truncate=False)

+---+----------+------------------------------------------+------------+
|Day|Month Name|Name                                      |Total Amount|
+---+----------+------------------------------------------+------------+
|1  |January   |The Chicken Pesto Pizza                   |79.00       |
|1  |January   |The Italian Supreme Pizza                 |269.00      |
|1  |January   |The Hawaiian Pizza                        |50.75       |
|1  |January   |The Barbecue Chicken Pizza                |204.25      |
|1  |January   |The Napolitana Pizza                      |32.50       |
|1  |January   |The Pepperoni Pizza                       |77.75       |
|1  |January   |The Southwest Chicken Pizza               |125.25      |
|1  |January   |The Pepperoni, Mushroom, and Peppers Pizza|82.50       |
|1  |January   |The Classic Deluxe Pizza                  |156.50      |
|1  |January   |The Mediterranean Pizza                   |52.25       |
|1  |January   |The Thai Chicken Pizza                    |158.00      |
|1  |January   |The Soppressata Pizza                     |20.75       |
|1  |January   |The Spicy Italian Pizza                   |95.50       |
|1  |January   |The Spinach Pesto Pizza                   |33.25       |
|1  |January   |The Four Cheese Pizza                     |98.10       |
|1  |January   |The Chicken Alfredo Pizza                 |29.50       |
|1  |January   |The Pepper Salami Pizza                   |62.25       |
|1  |January   |The Big Meat Pizza                        |60.00       |
|1  |January   |The Sicilian Pizza                        |69.00       |
|1  |January   |The Green Garden Pizza                    |96.25       |
+---+----------+------------------------------------------+------------+
only showing top 20 rows

### Looking for the greatest value of these and minimum and which day

In [42]:
MaxValueTotalAmount = dfPizzaDayNameTotalAmount.agg({"Total Amount": "max"}).collect()[0][0]
MinValueTotalAmount = dfPizzaDayNameTotalAmount.agg({"Total Amount": "min"}).collect()[0][0]

MaxTotalAmount = dfPizzaDayNameTotalAmount.filter(dfPizzaDayNameTotalAmount["Total Amount"] == MaxValueTotalAmount)
MinTotalAmount = dfPizzaDayNameTotalAmount.filter(dfPizzaDayNameTotalAmount["Total Amount"] == MinValueTotalAmount)

unionPizzaDayNameTotalAmount = MaxTotalAmount.union(MinTotalAmount)

unionPizzaDayNameTotalAmount.show(truncate=False)

+---+----------+------------------------+------------+
|Day|Month Name|Name                    |Total Amount|
+---+----------+------------------------+------------+
|27 |November  |The Classic Deluxe Pizza|322.00      |
|17 |June      |The Pepperoni Pizza     |9.75        |
|10 |December  |The Pepperoni Pizza     |9.75        |
+---+----------+------------------------+------------+

In [43]:
MaxValueQty = dfPizzaDayNameQuantity.agg({"Quantity of Orders": "max"}).collect()[0][0]
MinValueQty = dfPizzaDayNameQuantity.agg({"Quantity of Orders": "min"}).collect()[0][0]

MaxQty = dfPizzaDayNameQuantity.filter(dfPizzaDayNameQuantity["Quantity of Orders"] == MaxValueQty)
MinQty = dfPizzaDayNameQuantity.filter(dfPizzaDayNameQuantity["Quantity of Orders"] == MinValueQty)

unionPizzaDayNameQty = MaxQty.union(MinQty)

unionPizzaDayNameQty.show(truncate=False)

+---+----------+------------------------------------------+------------------+
|Day|Month Name|Name                                      |Quantity of Orders|
+---+----------+------------------------------------------+------------------+
|26 |November  |The Hawaiian Pizza                        |21                |
|1  |January   |The Calabrese Pizza                       |1                 |
|1  |January   |The Soppressata Pizza                     |1                 |
|2  |January   |The Green Garden Pizza                    |1                 |
|2  |January   |The Mediterranean Pizza                   |1                 |
|2  |January   |The Chicken Alfredo Pizza                 |1                 |
|2  |January   |The Pepperoni, Mushroom, and Peppers Pizza|1                 |
|3  |January   |The Brie Carre Pizza                      |1                 |
|3  |January   |The Soppressata Pizza                     |1                 |
|3  |January   |The Green Garden Pizza                    |1                 |
|3  |January   |The Calabrese Pizza                       |1                 |
|4  |January   |The Pepper Salami Pizza                   |1                 |
|4  |January   |The Vegetables + Vegetables Pizza         |1                 |
|4  |January   |The Chicken Pesto Pizza                   |1                 |
|4  |January   |The Southwest Chicken Pizza               |1                 |
|5  |January   |The Chicken Pesto Pizza                   |1                 |
|5  |January   |The Mediterranean Pizza                   |1                 |
|6  |January   |The Napolitana Pizza                      |1                 |
|6  |January   |The Brie Carre Pizza                      |1                 |
|6  |January   |The Soppressata Pizza                     |1                 |
+---+----------+------------------------------------------+------------------+
only showing top 20 rows

In [44]:
MaxQtyOrder = dfOrderedPizza.agg({"Quantity of Orders": "max"}).collect()[0][0]
MinQtyOrder = dfOrderedPizza.agg({"Quantity of Orders": "min"}).collect()[0][0]

MaxQty = dfOrderedPizza.filter(dfOrderedPizza["Quantity of Orders"] == MaxQtyOrder)
MinQty = dfOrderedPizza.filter(dfOrderedPizza["Quantity of Orders"] == MinQtyOrder)

unionPizzaQty = MaxQty.union(MinQty)

unionPizzaQty.show(truncate=False)

+------------------------+------------------+
|Name                    |Quantity of Orders|
+------------------------+------------------+
|The Classic Deluxe Pizza|2416              |
|The Brie Carre Pizza    |480               |
+------------------------+------------------+

In [45]:
MaxTotalAmount = dfPizzaPizzaNameByTotalAmount.agg({"Total Amount": "max"}).collect()[0][0]
MinTotalAmount = dfPizzaPizzaNameByTotalAmount.agg({"Total Amount": "min"}).collect()[0][0]

MaxTA = dfPizzaPizzaNameByTotalAmount.filter(dfPizzaPizzaNameByTotalAmount["Total Amount"] == MaxTotalAmount)
MinTA = dfPizzaPizzaNameByTotalAmount.filter(dfPizzaPizzaNameByTotalAmount["Total Amount"] == MinTotalAmount)

unionPizzaTotalAmount = MaxTA.union(MinTA)

unionPizzaTotalAmount.show(truncate=False)

+----------------------+------------+
|Name                  |Total Amount|
+----------------------+------------+
|The Thai Chicken Pizza|43434.25    |
|The Brie Carre Pizza  |11588.50    |
+----------------------+------------+

### Counting orders in each month in the name of month

In [46]:
dfPizzaMonthName = dfPizza.withColumn("Month Name",date_format("date", "MMMM")).withColumn("Month", month(col("Date")))
dfPizzaMonthName = dfPizzaMonthName.na.drop()

dfPizzaMonthName = dfPizzaMonthName.groupBy("Month Name","Month").count().orderBy("Month")

dfPizzaMonthName.select(col("Month Name").alias("Month"),col("count").alias("Quantity of Orders")).show(truncate=False)

+---------+------------------+
|Month    |Quantity of Orders|
+---------+------------------+
|January  |4156              |
|February |3892              |
|March    |4186              |
|April    |4067              |
|May      |4239              |
|June     |4025              |
|July     |4301              |
|August   |4094              |
|September|3819              |
|October  |3797              |
|November |4185              |
|December |3859              |
+---------+------------------+

### Dealing with pizza without orders

In [47]:
dfPizzaWithoutOrders = dfPizza.filter(dfPizza.Date.isNull())
dfPizzaWithoutOrders.show(truncate=False)
NamePizzaWithoutOrders = dfPizzaWithoutOrders.agg(collect_set("Name")).collect()[0][0]
CategoryPizzaWithoutOrders = dfPizzaWithoutOrders.agg(collect_set("Category")).collect()[0][0]
QuantityOfPizzaWithoutOrders = dfPizzaWithoutOrders.count()

+---------------------+--------+-------------------------------------------------------------------------------------------------+----+-----+--------+------------+----+----+
|Name                 |Category|Ingredients                                                                                      |Size|Price|Quantity|Total Amount|Date|Time|
+---------------------+--------+-------------------------------------------------------------------------------------------------+----+-----+--------+------------+----+----+
|The Four Cheese Pizza|VEGGIE  |Ricotta Cheese, Gorgonzola Piccante Cheese, Mozzarella Cheese, Parmigiano Reggiano Cheese, Garlic|S   |11.75|null    |null        |null|null|
|The Big Meat Pizza   |CLASSIC |Bacon, Pepperoni, Italian Sausage, Chorizo Sausage                                               |L   |20.50|null    |null        |null|null|
|The Five Cheese Pizza|VEGGIE  |Mozzarella Cheese, Provolone Cheese, Smoked Gouda Cheese, Romano Cheese, Blue Cheese, Garlic     |S   |12.50|null    |null        |null|null|
|The Big Meat Pizza   |CLASSIC |Bacon, Pepperoni, Italian Sausage, Chorizo Sausage                                               |M   |16.00|null    |null        |null|null|
|The Five Cheese Pizza|VEGGIE  |Mozzarella Cheese, Provolone Cheese, Smoked Gouda Cheese, Romano Cheese, Blue Cheese, Garlic     |M   |15.50|null    |null        |null|null|
+---------------------+--------+-------------------------------------------------------------------------------------------------+----+-----+--------+------------+----+----+

In [48]:
print(f'The quantity of pizza without orders: {QuantityOfPizzaWithoutOrders}')
print(f'The name of pizza without orders: {NamePizzaWithoutOrders}')
print(f'The category of pizza without orders: {CategoryPizzaWithoutOrders}')

The quantity of pizza without orders: 5
The name of pizza without orders: ['The Big Meat Pizza', 'The Four Cheese Pizza', 'The Five Cheese Pizza']
The category of pizza without orders: ['VEGGIE', 'CLASSIC']

### Calculating the quantity of orders and total amount regarding pizza in each month

In [49]:
dfPizzaDayNameMonthYear = dfPizzaDayMonthYear.withColumn("Month Name",date_format("date", "MMMM"))
dfPizzaMonthQty = dfPizzaDayNameMonthYear.groupBy("Name","Month Name","Month").count()
dfPizzaMonthTotalAmount = dfPizzaDayNameMonthYear.groupBy("Name","Month Name","Month").sum("Total Amount")

### Orders

In [50]:
dfPizzaMonthNameQty = dfPizzaMonthQty.select("Month Name",
                        "Name",
                        col("count").alias("Quantity of Orders")).orderBy("Month")
dfPizzaMonthNameQty.show(truncate=False)

+----------+---------------------------------+------------------+
|Month Name|Name                             |Quantity of Orders|
+----------+---------------------------------+------------------+
|January   |The Spicy Italian Pizza          |147               |
|January   |The Italian Supreme Pizza        |166               |
|January   |The Vegetables + Vegetables Pizza|143               |
|January   |The Sicilian Pizza               |186               |
|January   |The Classic Deluxe Pizza         |189               |
|January   |The Spinach and Feta Pizza       |123               |
|January   |The California Chicken Pizza     |197               |
|January   |The Thai Chicken Pizza           |197               |
|January   |The Mediterranean Pizza          |66                |
|January   |The Four Cheese Pizza            |153               |
|January   |The Spinach Supreme Pizza        |87                |
|January   |The Pepperoni Pizza              |235               |
|January   |The Southwest Chicken Pizza      |135               |
|January   |The Five Cheese Pizza            |134               |
|January   |The Italian Vegetables Pizza     |100               |
|January   |The Brie Carre Pizza             |34                |
|January   |The Chicken Alfredo Pizza        |83                |
|January   |The Green Garden Pizza           |74                |
|January   |The Napolitana Pizza             |135               |
|January   |The Prosciutto and Arugula Pizza |133               |
+----------+---------------------------------+------------------+
only showing top 20 rows

### Ranking

In [51]:
windowSpec = Window.partitionBy("Month Name").orderBy(desc("count"))

dfPizzaMonthQtyRanking= dfPizzaMonthQty.withColumn("Ranking"
                           ,row_number().over(windowSpec)).orderBy("Month",
                                                                   desc("count"))

dfPizzaMonthQtyRanking.select("Month Name",
                              "Name",
                              col("count").alias("Quantity of Orders"),
                              "Ranking").show(truncate=False)

+----------+---------------------------------+------------------+-------+
|Month Name|Name                             |Quantity of Orders|Ranking|
+----------+---------------------------------+------------------+-------+
|January   |The Pepperoni Pizza              |235               |1      |
|January   |The Barbecue Chicken Pizza       |206               |2      |
|January   |The California Chicken Pizza     |197               |3      |
|January   |The Thai Chicken Pizza           |197               |4      |
|January   |The Classic Deluxe Pizza         |189               |5      |
|January   |The Sicilian Pizza               |186               |6      |
|January   |The Hawaiian Pizza               |182               |7      |
|January   |The Italian Supreme Pizza        |166               |8      |
|January   |The Four Cheese Pizza            |153               |9      |
|January   |The Spicy Italian Pizza          |147               |10     |
|January   |The Big Meat Pizza               |146               |11     |
|January   |The Vegetables + Vegetables Pizza|143               |12     |
|January   |The Southwest Chicken Pizza      |135               |13     |
|January   |The Napolitana Pizza             |135               |14     |
|January   |The Five Cheese Pizza            |134               |15     |
|January   |The Prosciutto and Arugula Pizza |133               |16     |
|January   |The Mexicana Pizza               |129               |17     |
|January   |The Greek Pizza                  |128               |18     |
|January   |The Pepper Salami Pizza          |128               |19     |
|January   |The Spinach and Feta Pizza       |123               |20     |
+----------+---------------------------------+------------------+-------+
only showing top 20 rows

In [52]:
dfPizzaMonthQtyFirstRanking = dfPizzaMonthQtyRanking.select("Month Name",
                              "Name",
                              col("count").alias("Quantity of Orders"),
                              "Ranking")

dfPizzaMonthQtyFirstRanking.filter(dfPizzaMonthQtyFirstRanking.Ranking == 1).show(truncate=False)

+----------+----------------------------+------------------+-------+
|Month Name|Name                        |Quantity of Orders|Ranking|
+----------+----------------------------+------------------+-------+
|January   |The Pepperoni Pizza         |235               |1      |
|February  |The Pepperoni Pizza         |201               |1      |
|March     |The Barbecue Chicken Pizza  |229               |1      |
|April     |The Classic Deluxe Pizza    |214               |1      |
|May       |The Pepperoni Pizza         |238               |1      |
|June      |The California Chicken Pizza|216               |1      |
|July      |The Pepperoni Pizza         |223               |1      |
|August    |The California Chicken Pizza|225               |1      |
|September |The Classic Deluxe Pizza    |201               |1      |
|October   |The Classic Deluxe Pizza    |193               |1      |
|November  |The Hawaiian Pizza          |219               |1      |
|December  |The Hawaiian Pizza          |206               |1      |
+----------+----------------------------+------------------+-------+

### Maximum Quantity of Orders in month:

In [53]:
MaxQtyOrder = dfPizzaMonthNameQty.agg({"Quantity of Orders": "max"}).collect()[0][0]

dfPizzaMonthNameQty.filter(dfPizzaMonthNameQty["Quantity of Orders"] == MaxQtyOrder).show(truncate=False)

+----------+-------------------+------------------+
|Month Name|Name               |Quantity of Orders|
+----------+-------------------+------------------+
|May       |The Pepperoni Pizza|238               |
+----------+-------------------+------------------+

### Total Amount

In [54]:
dfPizzaMonthNameTotalAmount = dfPizzaMonthTotalAmount.select("Month Name",
                        "Name",
                        col("sum(Total Amount)").alias("Total Amount")).orderBy("Month")

dfPizzaMonthNameTotalAmount.show(truncate=False)

+----------+---------------------------------+------------+
|Month Name|Name                             |Total Amount|
+----------+---------------------------------+------------+
|January   |The Spicy Italian Pizza          |2762.00     |
|January   |The Italian Supreme Pizza        |2954.75     |
|January   |The Vegetables + Vegetables Pizza|2289.50     |
|January   |The Sicilian Pizza               |2987.75     |
|January   |The Classic Deluxe Pizza         |2941.50     |
|January   |The Spinach and Feta Pizza       |2047.25     |
|January   |The California Chicken Pizza     |3471.50     |
|January   |The Thai Chicken Pizza           |3657.25     |
|January   |The Mediterranean Pizza          |1147.50     |
|January   |The Four Cheese Pizza            |2671.65     |
|January   |The Spinach Supreme Pizza        |1357.00     |
|January   |The Pepperoni Pizza              |3001.25     |
|January   |The Southwest Chicken Pizza      |2495.50     |
|January   |The Five Cheese Pizza            |2553.00     |
|January   |The Italian Vegetables Pizza     |1653.50     |
|January   |The Brie Carre Pizza             |827.75      |
|January   |The Chicken Alfredo Pizza        |1456.50     |
|January   |The Green Garden Pizza           |1065.50     |
|January   |The Napolitana Pizza             |2306.50     |
|January   |The Prosciutto and Arugula Pizza |2218.00     |
+----------+---------------------------------+------------+
only showing top 20 rows

### Ranking

In [55]:
dfPizzaMonthTotalAmount.show(truncate=False)

+------------------------------------------+----------+-----+-----------------+
|Name                                      |Month Name|Month|sum(Total Amount)|
+------------------------------------------+----------+-----+-----------------+
|The Spinach Supreme Pizza                 |September |9    |1116.25          |
|The Italian Capocollo Pizza               |February  |2    |2079.00          |
|The Sicilian Pizza                        |July      |7    |2473.75          |
|The Chicken Pesto Pizza                   |November  |11   |1401.50          |
|The Italian Vegetables Pizza              |August    |8    |1295.50          |
|The Sicilian Pizza                        |April     |4    |2434.75          |
|The Four Cheese Pizza                     |January   |1    |2671.65          |
|The Spinach Supreme Pizza                 |March     |3    |1153.25          |
|The Southwest Chicken Pizza               |June      |6    |2584.00          |
|The Hawaiian Pizza                        |September |9    |2616.25          |
|The Brie Carre Pizza                      |March     |3    |1087.90          |
|The Big Meat Pizza                        |October   |10   |1812.00          |
|The Pepper Salami Pizza                   |August    |8    |1894.25          |
|The Pepperoni Pizza                       |April     |4    |2112.75          |
|The Pepperoni, Mushroom, and Peppers Pizza|October   |10   |1474.00          |
|The California Chicken Pizza              |September |9    |3088.75          |
|The Prosciutto and Arugula Pizza          |June      |6    |1876.75          |
|The Chicken Pesto Pizza                   |May       |5    |1379.25          |
|The Italian Supreme Pizza                 |January   |1    |2954.75          |
|The Spinach Pesto Pizza                   |February  |2    |1211.00          |
+------------------------------------------+----------+-----+-----------------+
only showing top 20 rows

In [56]:
windowSpec = Window.partitionBy("Month Name").orderBy(desc("sum(Total Amount)"))

dfPizzaMonthTotalAmountRanking= dfPizzaMonthTotalAmount.withColumn("Ranking"
                           ,row_number().over(windowSpec)).orderBy("Month",
                                                                   desc("sum(Total Amount)"))

dfPizzaMonthTotalAmountRanking.select("Month Name",
                                      "Name",
                                      col("sum(Total Amount)").alias("Total Amount"),
                                      "Ranking").show(truncate=False)

+----------+---------------------------------+------------+-------+
|Month Name|Name                             |Total Amount|Ranking|
+----------+---------------------------------+------------+-------+
|January   |The Barbecue Chicken Pizza       |3770.25     |1      |
|January   |The Thai Chicken Pizza           |3657.25     |2      |
|January   |The California Chicken Pizza     |3471.50     |3      |
|January   |The Pepperoni Pizza              |3001.25     |4      |
|January   |The Sicilian Pizza               |2987.75     |5      |
|January   |The Italian Supreme Pizza        |2954.75     |6      |
|January   |The Classic Deluxe Pizza         |2941.50     |7      |
|January   |The Spicy Italian Pizza          |2762.00     |8      |
|January   |The Four Cheese Pizza            |2671.65     |9      |
|January   |The Five Cheese Pizza            |2553.00     |10     |
|January   |The Greek Pizza                  |2539.40     |11     |
|January   |The Southwest Chicken Pizza      |2495.50     |12     |
|January   |The Hawaiian Pizza               |2442.75     |13     |
|January   |The Mexicana Pizza               |2358.25     |14     |
|January   |The Pepper Salami Pizza          |2342.25     |15     |
|January   |The Napolitana Pizza             |2306.50     |16     |
|January   |The Vegetables + Vegetables Pizza|2289.50     |17     |
|January   |The Prosciutto and Arugula Pizza |2218.00     |18     |
|January   |The Italian Capocollo Pizza      |2153.00     |19     |
|January   |The Spinach and Feta Pizza       |2047.25     |20     |
+----------+---------------------------------+------------+-------+
only showing top 20 rows

In [57]:
dfPizzaMonthTotalAmountFirstRanking = dfPizzaMonthTotalAmountRanking.select("Month Name",
                                      "Name",
                                      col("sum(Total Amount)").alias("Total Amount"),
                                      "Ranking")

dfPizzaMonthTotalAmountFirstRanking.filter(dfPizzaMonthTotalAmountFirstRanking.Ranking == 1).show(truncate=False)

+----------+----------------------------+------------+-------+
|Month Name|Name                        |Total Amount|Ranking|
+----------+----------------------------+------------+-------+
|January   |The Barbecue Chicken Pizza  |3770.25     |1      |
|February  |The California Chicken Pizza|3537.00     |1      |
|March     |The Barbecue Chicken Pizza  |4049.25     |1      |
|April     |The Barbecue Chicken Pizza  |3788.50     |1      |
|May       |The Barbecue Chicken Pizza  |3953.50     |1      |
|June      |The California Chicken Pizza|3870.50     |1      |
|July      |The Thai Chicken Pizza      |4073.75     |1      |
|August    |The California Chicken Pizza|3977.25     |1      |
|September |The Thai Chicken Pizza      |3736.25     |1      |
|October   |The Thai Chicken Pizza      |3503.25     |1      |
|November  |The Barbecue Chicken Pizza  |3881.75     |1      |
|December  |The Thai Chicken Pizza      |3813.00     |1      |
+----------+----------------------------+------------+-------+

### Maximum Total Amount in month:

In [58]:
MaxTotalAmount = dfPizzaMonthNameTotalAmount.agg({"Total Amount": "max"}).collect()[0][0]

dfPizzaMonthNameTotalAmount.filter(dfPizzaMonthNameTotalAmount["Total Amount"] == MaxTotalAmount).show(truncate=False)

+----------+----------------------+------------+
|Month Name|Name                  |Total Amount|
+----------+----------------------+------------+
|July      |The Thai Chicken Pizza|4073.75     |
+----------+----------------------+------------+

In [59]:
#Looking for values with only one ingredient for example salami using wildcard
# Pizza without orders -> using case when
#Things to be considered in next project
# dealing with these https://www.datasciencemadesimple.com/get-month-year-and-quarter-from-date-in-pyspark/, 
# https://www.datasciencemadesimple.com/get-day-of-month-day-of-year-day-of-week-from-date-in-pyspark/
#consdering day of week? https://www.datasciencemadesimple.com/get-day-of-month-day-of-year-day-of-week-from-date-in-pyspark/
# browsing all materials that I have so as to select!!
## using UDF (put  example and remove digit at the beginning) 

# using pandas and look for spicy pizza or ingredients
#case when with size and is null where it is not available
#https://sparkbyexamples.com/pyspark/pyspark-groupby-explained-with-example/
# https://sparkbyexamples.com/pyspark/pyspark-window-functions/
# https://sparkbyexamples.com/pyspark/pyspark-udf-user-defined-function/ 
# Considering next transformations to be used using inspirations to run this project from .doc files 
## using pandas / pivot
# https://pub.towardsai.net/exploratory-data-analysis-eda-using-pyspark-b43e71fcec9f
#https://dev.to/kinyungu_denis/apache-pyspark-for-data-engineering-3phi