# Importing libraries

In [50]:
import os
import sys
import glob
os.environ["PYARROW_IGNORE_TIMEZONE"] = "1"
os.environ['PYSPARK_PYTHON'] = sys.executable
os.environ['PYSPARK_DRIVER_PYTHON'] = sys.executable

In [51]:
from pyspark.sql import SparkSession,functions, Window
from pyspark.sql.functions import *
from pyspark.sql.types import *
import pyspark.pandas as ps

# Starting Spark Session and Creating a Spark Session Called Pizza

In [52]:
spark = SparkSession.builder \
        .master("local[1]") \
        .appName("PizzaRestaurant") \
        .config("spark.some.config.option", "config-value") \
        .enableHiveSupport() \
        .getOrCreate()

In [53]:
spark

# Browsing .csv PizzaRestaurant files

In [54]:
path = r"D:\My commercial projects\PySpark\Project 4 PySpark\Pizza Place Sales"


if os.path.exists(path):
    print(f'The file {path} exists')
else: 
    print(f"The file {path} does not exist ")

filenames = glob.glob(path + '\*.csv')

for file in filenames:
    print("\nFile names:", file)

The file D:\My commercial projects\PySpark\Project 4 PySpark\Pizza Place Sales exists

File names: D:\My commercial projects\PySpark\Project 4 PySpark\Pizza Place Sales\orders.csv

File names: D:\My commercial projects\PySpark\Project 4 PySpark\Pizza Place Sales\order_details.csv

File names: D:\My commercial projects\PySpark\Project 4 PySpark\Pizza Place Sales\pizzas.csv

File names: D:\My commercial projects\PySpark\Project 4 PySpark\Pizza Place Sales\pizza_types.csv

# Reading csv files into Spark DataFrames

In [55]:
PathOrders = 'D:\My commercial projects\PySpark\Project 4 PySpark\Pizza Place Sales\orders.csv'
PathOrderDetails = 'D:\My commercial projects\PySpark\Project 4 PySpark\Pizza Place Sales\order_details.csv'
PathPizzas = 'D:\My commercial projects\PySpark\Project 4 PySpark\Pizza Place Sales\pizzas.csv'
PathPizzaTypes = 'D:\My commercial projects\PySpark\Project 4 PySpark\Pizza Place Sales\pizza_types.csv'

dfPizzaOrders = spark.read.csv(PathOrders, header=True, inferSchema=True)
dfPizzaOrderDetails = spark.read.csv(PathOrderDetails, header=True, inferSchema=True)
dfPizzas = spark.read.csv(PathPizzas, header=True, inferSchema=True)
dfPizzaTypes = spark.read.csv(PathPizzaTypes, header=True, inferSchema=True)

# Data Exploration

In [56]:
dfPizzaOrders.show(truncate=False)

+--------+----------+-------------------+
|order_id|date      |time               |
+--------+----------+-------------------+
|1       |2015-01-01|2023-06-14 11:38:36|
|2       |2015-01-01|2023-06-14 11:57:40|
|3       |2015-01-01|2023-06-14 12:12:28|
|4       |2015-01-01|2023-06-14 12:16:31|
|5       |2015-01-01|2023-06-14 12:21:30|
|6       |2015-01-01|2023-06-14 12:29:36|
|7       |2015-01-01|2023-06-14 12:50:37|
|8       |2015-01-01|2023-06-14 12:51:37|
|9       |2015-01-01|2023-06-14 12:52:01|
|10      |2015-01-01|2023-06-14 13:00:15|
|11      |2015-01-01|2023-06-14 13:02:59|
|12      |2015-01-01|2023-06-14 13:04:41|
|13      |2015-01-01|2023-06-14 13:11:55|
|14      |2015-01-01|2023-06-14 13:14:19|
|15      |2015-01-01|2023-06-14 13:33:00|
|16      |2015-01-01|2023-06-14 13:34:07|
|17      |2015-01-01|2023-06-14 13:53:00|
|18      |2015-01-01|2023-06-14 13:57:08|
|19      |2015-01-01|2023-06-14 13:59:09|
|20      |2015-01-01|2023-06-14 14:03:08|
+--------+----------+-------------------+
only showing top 20 rows

In [57]:
dfPizzaOrderDetails.show(truncate=False)

+----------------+--------+--------------+--------+
|order_details_id|order_id|pizza_id      |quantity|
+----------------+--------+--------------+--------+
|1               |1       |hawaiian_m    |1       |
|2               |2       |classic_dlx_m |1       |
|3               |2       |five_cheese_l |1       |
|4               |2       |ital_supr_l   |1       |
|5               |2       |mexicana_m    |1       |
|6               |2       |thai_ckn_l    |1       |
|7               |3       |ital_supr_m   |1       |
|8               |3       |prsc_argla_l  |1       |
|9               |4       |ital_supr_m   |1       |
|10              |5       |ital_supr_m   |1       |
|11              |6       |bbq_ckn_s     |1       |
|12              |6       |the_greek_s   |1       |
|13              |7       |spinach_supr_s|1       |
|14              |8       |spinach_supr_s|1       |
|15              |9       |classic_dlx_s |1       |
|16              |9       |green_garden_s|1       |
|17              |9       |ital_cpcllo_l |1       |
|18              |9       |ital_supr_l   |1       |
|19              |9       |ital_supr_s   |1       |
|20              |9       |mexicana_s    |1       |
+----------------+--------+--------------+--------+
only showing top 20 rows

In [58]:
dfPizzas.show(truncate=False)

+-------------+-------------+----+-----+
|pizza_id     |pizza_type_id|size|price|
+-------------+-------------+----+-----+
|bbq_ckn_s    |bbq_ckn      |S   |12.75|
|bbq_ckn_m    |bbq_ckn      |M   |16.75|
|bbq_ckn_l    |bbq_ckn      |L   |20.75|
|cali_ckn_s   |cali_ckn     |S   |12.75|
|cali_ckn_m   |cali_ckn     |M   |16.75|
|cali_ckn_l   |cali_ckn     |L   |20.75|
|ckn_alfredo_s|ckn_alfredo  |S   |12.75|
|ckn_alfredo_m|ckn_alfredo  |M   |16.75|
|ckn_alfredo_l|ckn_alfredo  |L   |20.75|
|ckn_pesto_s  |ckn_pesto    |S   |12.75|
|ckn_pesto_m  |ckn_pesto    |M   |16.75|
|ckn_pesto_l  |ckn_pesto    |L   |20.75|
|southw_ckn_s |southw_ckn   |S   |12.75|
|southw_ckn_m |southw_ckn   |M   |16.75|
|southw_ckn_l |southw_ckn   |L   |20.75|
|thai_ckn_s   |thai_ckn     |S   |12.75|
|thai_ckn_m   |thai_ckn     |M   |16.75|
|thai_ckn_l   |thai_ckn     |L   |20.75|
|big_meat_s   |big_meat     |S   |12.0 |
|big_meat_m   |big_meat     |M   |16.0 |
+-------------+-------------+----+-----+
only showing top 20 rows

In [59]:
dfPizzaTypes.show(truncate=False)

+-------------+------------------------------------------+--------+--------------------------------------------------------------------------------------------+
|pizza_type_id|name                                      |category|ingredients                                                                                 |
+-------------+------------------------------------------+--------+--------------------------------------------------------------------------------------------+
|bbq_ckn      |The Barbecue Chicken Pizza                |Chicken |Barbecued Chicken, Red Peppers, Green Peppers, Tomatoes, Red Onions, Barbecue Sauce         |
|cali_ckn     |The California Chicken Pizza              |Chicken |Chicken, Artichoke, Spinach, Garlic, Jalapeno Peppers, Fontina Cheese, Gouda Cheese         |
|ckn_alfredo  |The Chicken Alfredo Pizza                 |Chicken |Chicken, Red Onions, Red Peppers, Mushrooms, Asiago Cheese, Alfredo Sauce                   |
|ckn_pesto    |The Chicken Pesto Pizza                   |Chicken |Chicken, Tomatoes, Red Peppers, Spinach, Garlic, Pesto Sauce                                |
|southw_ckn   |The Southwest Chicken Pizza               |Chicken |Chicken, Tomatoes, Red Peppers, Red Onions, Jalapeno Peppers, Corn, Cilantro, Chipotle Sauce|
|thai_ckn     |The Thai Chicken Pizza                    |Chicken |Chicken, Pineapple, Tomatoes, Red Peppers, Thai Sweet Chilli Sauce                          |
|big_meat     |The Big Meat Pizza                        |Classic |Bacon, Pepperoni, Italian Sausage, Chorizo Sausage                                          |
|classic_dlx  |The Classic Deluxe Pizza                  |Classic |Pepperoni, Mushrooms, Red Onions, Red Peppers, Bacon                                        |
|hawaiian     |The Hawaiian Pizza                        |Classic |Sliced Ham, Pineapple, Mozzarella Cheese                                                    |
|ital_cpcllo  |The Italian Capocollo Pizza               |Classic |Capocollo, Red Peppers, Tomatoes, Goat Cheese, Garlic, Oregano                              |
|napolitana   |The Napolitana Pizza                      |Classic |Tomatoes, Anchovies, Green Olives, Red Onions, Garlic                                       |
|pep_msh_pep  |The Pepperoni, Mushroom, and Peppers Pizza|Classic |Pepperoni, Mushrooms, Green Peppers                                                         |
|pepperoni    |The Pepperoni Pizza                       |Classic |Mozzarella Cheese, Pepperoni                                                                |
|the_greek    |The Greek Pizza                           |Classic |Kalamata Olives, Feta Cheese, Tomatoes, Garlic, Beef Chuck Roast, Red Onions                |
|brie_carre   |The Brie Carre Pizza                      |Supreme |Brie Carre Cheese, Prosciutto, Caramelized Onions, Pears, Thyme, Garlic                     |
|calabrese    |The Calabrese Pizza                       |Supreme |�Nduja Salami, Pancetta, Tomatoes, Red Onions, Friggitello Peppers, Garlic                  |
|ital_supr    |The Italian Supreme Pizza                 |Supreme |Calabrese Salami, Capocollo, Tomatoes, Red Onions, Green Olives, Garlic                     |
|peppr_salami |The Pepper Salami Pizza                   |Supreme |Genoa Salami, Capocollo, Pepperoni, Tomatoes, Asiago Cheese, Garlic                         |
|prsc_argla   |The Prosciutto and Arugula Pizza          |Supreme |Prosciutto di San Daniele, Arugula, Mozzarella Cheese                                       |
|sicilian     |The Sicilian Pizza                        |Supreme |Coarse Sicilian Salami, Tomatoes, Green Olives, Luganega Sausage, Onions, Garlic            |
+-------------+------------------------------------------+--------+--------------------------------------------------------------------------------------------+
only showing top 20 rows

# Combining DataFrames

In [60]:
dfPizzaOrdersAll = dfPizzaOrders.join(dfPizzaOrderDetails,dfPizzaOrders.order_id == dfPizzaOrderDetails.order_id, "inner" )
dfPizzaOrdersAll.show(truncate=False)

+--------+----------+-------------------+----------------+--------+--------------+--------+
|order_id|date      |time               |order_details_id|order_id|pizza_id      |quantity|
+--------+----------+-------------------+----------------+--------+--------------+--------+
|1       |2015-01-01|2023-06-14 11:38:36|1               |1       |hawaiian_m    |1       |
|2       |2015-01-01|2023-06-14 11:57:40|2               |2       |classic_dlx_m |1       |
|2       |2015-01-01|2023-06-14 11:57:40|3               |2       |five_cheese_l |1       |
|2       |2015-01-01|2023-06-14 11:57:40|4               |2       |ital_supr_l   |1       |
|2       |2015-01-01|2023-06-14 11:57:40|5               |2       |mexicana_m    |1       |
|2       |2015-01-01|2023-06-14 11:57:40|6               |2       |thai_ckn_l    |1       |
|3       |2015-01-01|2023-06-14 12:12:28|7               |3       |ital_supr_m   |1       |
|3       |2015-01-01|2023-06-14 12:12:28|8               |3       |prsc_argla_l  |1       |
|4       |2015-01-01|2023-06-14 12:16:31|9               |4       |ital_supr_m   |1       |
|5       |2015-01-01|2023-06-14 12:21:30|10              |5       |ital_supr_m   |1       |
|6       |2015-01-01|2023-06-14 12:29:36|11              |6       |bbq_ckn_s     |1       |
|6       |2015-01-01|2023-06-14 12:29:36|12              |6       |the_greek_s   |1       |
|7       |2015-01-01|2023-06-14 12:50:37|13              |7       |spinach_supr_s|1       |
|8       |2015-01-01|2023-06-14 12:51:37|14              |8       |spinach_supr_s|1       |
|9       |2015-01-01|2023-06-14 12:52:01|15              |9       |classic_dlx_s |1       |
|9       |2015-01-01|2023-06-14 12:52:01|16              |9       |green_garden_s|1       |
|9       |2015-01-01|2023-06-14 12:52:01|17              |9       |ital_cpcllo_l |1       |
|9       |2015-01-01|2023-06-14 12:52:01|18              |9       |ital_supr_l   |1       |
|9       |2015-01-01|2023-06-14 12:52:01|19              |9       |ital_supr_s   |1       |
|9       |2015-01-01|2023-06-14 12:52:01|20              |9       |mexicana_s    |1       |
+--------+----------+-------------------+----------------+--------+--------------+--------+
only showing top 20 rows

In [61]:
dfPizzaOrdersAll = dfPizzaOrdersAll.select("pizza_id","quantity","date","time")
dfPizzaOrdersAll.show()

+--------------+--------+----------+-------------------+
|      pizza_id|quantity|      date|               time|
+--------------+--------+----------+-------------------+
|    hawaiian_m|       1|2015-01-01|2023-06-14 11:38:36|
| classic_dlx_m|       1|2015-01-01|2023-06-14 11:57:40|
| five_cheese_l|       1|2015-01-01|2023-06-14 11:57:40|
|   ital_supr_l|       1|2015-01-01|2023-06-14 11:57:40|
|    mexicana_m|       1|2015-01-01|2023-06-14 11:57:40|
|    thai_ckn_l|       1|2015-01-01|2023-06-14 11:57:40|
|   ital_supr_m|       1|2015-01-01|2023-06-14 12:12:28|
|  prsc_argla_l|       1|2015-01-01|2023-06-14 12:12:28|
|   ital_supr_m|       1|2015-01-01|2023-06-14 12:16:31|
|   ital_supr_m|       1|2015-01-01|2023-06-14 12:21:30|
|     bbq_ckn_s|       1|2015-01-01|2023-06-14 12:29:36|
|   the_greek_s|       1|2015-01-01|2023-06-14 12:29:36|
|spinach_supr_s|       1|2015-01-01|2023-06-14 12:50:37|
|spinach_supr_s|       1|2015-01-01|2023-06-14 12:51:37|
| classic_dlx_s|       1|2015-01-01|2023-06-14 12:52:01|
|green_garden_s|       1|2015-01-01|2023-06-14 12:52:01|
| ital_cpcllo_l|       1|2015-01-01|2023-06-14 12:52:01|
|   ital_supr_l|       1|2015-01-01|2023-06-14 12:52:01|
|   ital_supr_s|       1|2015-01-01|2023-06-14 12:52:01|
|    mexicana_s|       1|2015-01-01|2023-06-14 12:52:01|
+--------------+--------+----------+-------------------+
only showing top 20 rows

In [62]:
dfPizzaAll = dfPizzas.join(dfPizzaTypes,dfPizzas.pizza_type_id == dfPizzaTypes.pizza_type_id, "inner" )
dfPizzaAll = dfPizzaAll.select("pizza_id","size","price","name","category","ingredients")
dfPizzaAll.show()

+-------------+----+-----+--------------------+--------+--------------------+
|     pizza_id|size|price|                name|category|         ingredients|
+-------------+----+-----+--------------------+--------+--------------------+
|    bbq_ckn_l|   L|20.75|The Barbecue Chic...| Chicken|Barbecued Chicken...|
|    bbq_ckn_m|   M|16.75|The Barbecue Chic...| Chicken|Barbecued Chicken...|
|    bbq_ckn_s|   S|12.75|The Barbecue Chic...| Chicken|Barbecued Chicken...|
|   cali_ckn_l|   L|20.75|The California Ch...| Chicken|Chicken, Artichok...|
|   cali_ckn_m|   M|16.75|The California Ch...| Chicken|Chicken, Artichok...|
|   cali_ckn_s|   S|12.75|The California Ch...| Chicken|Chicken, Artichok...|
|ckn_alfredo_l|   L|20.75|The Chicken Alfre...| Chicken|Chicken, Red Onio...|
|ckn_alfredo_m|   M|16.75|The Chicken Alfre...| Chicken|Chicken, Red Onio...|
|ckn_alfredo_s|   S|12.75|The Chicken Alfre...| Chicken|Chicken, Red Onio...|
|  ckn_pesto_l|   L|20.75|The Chicken Pesto...| Chicken|Chicken, Tomatoes...|
|  ckn_pesto_m|   M|16.75|The Chicken Pesto...| Chicken|Chicken, Tomatoes...|
|  ckn_pesto_s|   S|12.75|The Chicken Pesto...| Chicken|Chicken, Tomatoes...|
| southw_ckn_l|   L|20.75|The Southwest Chi...| Chicken|Chicken, Tomatoes...|
| southw_ckn_m|   M|16.75|The Southwest Chi...| Chicken|Chicken, Tomatoes...|
| southw_ckn_s|   S|12.75|The Southwest Chi...| Chicken|Chicken, Tomatoes...|
|   thai_ckn_l|   L|20.75|The Thai Chicken ...| Chicken|Chicken, Pineappl...|
|   thai_ckn_m|   M|16.75|The Thai Chicken ...| Chicken|Chicken, Pineappl...|
|   thai_ckn_s|   S|12.75|The Thai Chicken ...| Chicken|Chicken, Pineappl...|
|   big_meat_l|   L| 20.5|  The Big Meat Pizza| Classic|Bacon, Pepperoni,...|
|   big_meat_m|   M| 16.0|  The Big Meat Pizza| Classic|Bacon, Pepperoni,...|
+-------------+----+-----+--------------------+--------+--------------------+
only showing top 20 rows

In [63]:
dfPizza = dfPizzaAll.join(dfPizzaOrdersAll,dfPizzaAll.pizza_id == dfPizzaOrdersAll.pizza_id, "left" )
dfPizza = dfPizza.select(col("name").alias("Name"), 
                col("category").alias("Category"),
                col("ingredients").alias("Ingredients"),
                col("size").alias("Size"),
                col("price").alias("Price"),
                col("quantity").alias("Quantity"),
                col("date").alias("Date"),
                col("time").alias("Time"))

dfPizza.show(truncate=False)

+--------------------------+--------+-----------------------------------------------------------------------------------+----+-----+--------+----------+-------------------+
|Name                      |Category|Ingredients                                                                        |Size|Price|Quantity|Date      |Time               |
+--------------------------+--------+-----------------------------------------------------------------------------------+----+-----+--------+----------+-------------------+
|The Barbecue Chicken Pizza|Chicken |Barbecued Chicken, Red Peppers, Green Peppers, Tomatoes, Red Onions, Barbecue Sauce|L   |20.75|1       |2015-01-01|2023-06-14 13:02:59|
|The Barbecue Chicken Pizza|Chicken |Barbecued Chicken, Red Peppers, Green Peppers, Tomatoes, Red Onions, Barbecue Sauce|L   |20.75|1       |2015-01-01|2023-06-14 13:53:00|
|The Barbecue Chicken Pizza|Chicken |Barbecued Chicken, Red Peppers, Green Peppers, Tomatoes, Red Onions, Barbecue Sauce|L   |20.75|1       |2015-01-01|2023-06-14 15:11:17|
|The Barbecue Chicken Pizza|Chicken |Barbecued Chicken, Red Peppers, Green Peppers, Tomatoes, Red Onions, Barbecue Sauce|L   |20.75|1       |2015-01-01|2023-06-14 15:54:08|
|The Barbecue Chicken Pizza|Chicken |Barbecued Chicken, Red Peppers, Green Peppers, Tomatoes, Red Onions, Barbecue Sauce|L   |20.75|1       |2015-01-01|2023-06-14 18:48:28|
|The Barbecue Chicken Pizza|Chicken |Barbecued Chicken, Red Peppers, Green Peppers, Tomatoes, Red Onions, Barbecue Sauce|L   |20.75|1       |2015-01-01|2023-06-14 22:12:13|
|The Barbecue Chicken Pizza|Chicken |Barbecued Chicken, Red Peppers, Green Peppers, Tomatoes, Red Onions, Barbecue Sauce|L   |20.75|2       |2015-01-02|2023-06-14 15:14:43|
|The Barbecue Chicken Pizza|Chicken |Barbecued Chicken, Red Peppers, Green Peppers, Tomatoes, Red Onions, Barbecue Sauce|L   |20.75|1       |2015-01-02|2023-06-14 22:00:17|
|The Barbecue Chicken Pizza|Chicken |Barbecued Chicken, Red Peppers, Green Peppers, Tomatoes, Red Onions, Barbecue Sauce|L   |20.75|1       |2015-01-03|2023-06-14 17:00:49|
|The Barbecue Chicken Pizza|Chicken |Barbecued Chicken, Red Peppers, Green Peppers, Tomatoes, Red Onions, Barbecue Sauce|L   |20.75|1       |2015-01-03|2023-06-14 20:14:23|
|The Barbecue Chicken Pizza|Chicken |Barbecued Chicken, Red Peppers, Green Peppers, Tomatoes, Red Onions, Barbecue Sauce|L   |20.75|1       |2015-01-03|2023-06-14 21:25:20|
|The Barbecue Chicken Pizza|Chicken |Barbecued Chicken, Red Peppers, Green Peppers, Tomatoes, Red Onions, Barbecue Sauce|L   |20.75|1       |2015-01-04|2023-06-14 12:12:05|
|The Barbecue Chicken Pizza|Chicken |Barbecued Chicken, Red Peppers, Green Peppers, Tomatoes, Red Onions, Barbecue Sauce|L   |20.75|1       |2015-01-04|2023-06-14 14:42:01|
|The Barbecue Chicken Pizza|Chicken |Barbecued Chicken, Red Peppers, Green Peppers, Tomatoes, Red Onions, Barbecue Sauce|L   |20.75|1       |2015-01-04|2023-06-14 16:41:48|
|The Barbecue Chicken Pizza|Chicken |Barbecued Chicken, Red Peppers, Green Peppers, Tomatoes, Red Onions, Barbecue Sauce|L   |20.75|1       |2015-01-04|2023-06-14 20:28:41|
|The Barbecue Chicken Pizza|Chicken |Barbecued Chicken, Red Peppers, Green Peppers, Tomatoes, Red Onions, Barbecue Sauce|L   |20.75|1       |2015-01-04|2023-06-14 21:06:16|
|The Barbecue Chicken Pizza|Chicken |Barbecued Chicken, Red Peppers, Green Peppers, Tomatoes, Red Onions, Barbecue Sauce|L   |20.75|1       |2015-01-04|2023-06-14 22:22:13|
|The Barbecue Chicken Pizza|Chicken |Barbecued Chicken, Red Peppers, Green Peppers, Tomatoes, Red Onions, Barbecue Sauce|L   |20.75|1       |2015-01-05|2023-06-14 17:44:39|
|The Barbecue Chicken Pizza|Chicken |Barbecued Chicken, Red Peppers, Green Peppers, Tomatoes, Red Onions, Barbecue Sauce|L   |20.75|1       |2015-01-06|2023-06-14 17:59:48|
|The Barbecue Chicken Pizza|Chicken |Barbecued Chicken, Red Peppers, Green Peppers, Tomatoes, Red Onions, Barbecue Sauce|L   |20.75|1       |2015-01-06|2023-06-14 18:50:38|
+--------------------------+--------+-----------------------------------------------------------------------------------+----+-----+--------+----------+-------------------+
only showing top 20 rows

# Data Cleaning

### Looking for null values

In [64]:
dfPizzaNull = dfPizza.select("Name", "Category", "Ingredients", "Size", "Price", "Quantity")

dfPizzaNull.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) for c in dfPizzaNull.columns]
   ).show()

+----+--------+-----------+----+-----+--------+
|Name|Category|Ingredients|Size|Price|Quantity|
+----+--------+-----------+----+-----+--------+
|   0|       0|          0|   0|    0|       5|
+----+--------+-----------+----+-----+--------+

##### There are a few Null values in Quantity, but it means that there were no orders for these pizza

In [65]:
dfPizza.filter(col("Quantity").isNull()).show()

+--------------------+--------+--------------------+----+-----+--------+----+----+
|                Name|Category|         Ingredients|Size|Price|Quantity|Date|Time|
+--------------------+--------+--------------------+----+-----+--------+----+----+
|The Four Cheese P...|  Veggie|Ricotta Cheese, G...|   S|11.75|    null|null|null|
|  The Big Meat Pizza| Classic|Bacon, Pepperoni,...|   L| 20.5|    null|null|null|
|The Five Cheese P...|  Veggie|Mozzarella Cheese...|   S| 12.5|    null|null|null|
|  The Big Meat Pizza| Classic|Bacon, Pepperoni,...|   M| 16.0|    null|null|null|
|The Five Cheese P...|  Veggie|Mozzarella Cheese...|   M| 15.5|    null|null|null|
+--------------------+--------+--------------------+----+-----+--------+----+----+

### Dealing with duplicate values

In [66]:
print("Counting rows {}".format(dfPizza.count()))

Counting rows 48625

In [67]:
dfPizzaDuplicates = dfPizza.groupBy(dfPizza.columns).count().filter(col("count") > 1)
dfPizzaDuplicates.show()

+----+--------+-----------+----+-----+--------+----+----+-----+
|Name|Category|Ingredients|Size|Price|Quantity|Date|Time|count|
+----+--------+-----------+----+-----+--------+----+----+-----+
+----+--------+-----------+----+-----+--------+----+----+-----+

### Browsing for distinct values in each column

In [68]:
print("Counting distinct rows {}".format(dfPizza.distinct().count()))

Counting distinct rows 48625

In [69]:
dfPizza.agg(*(countDistinct(col(c)).alias(c) for c in dfPizza.columns)).show()

+----+--------+-----------+----+-----+--------+----+-----+
|Name|Category|Ingredients|Size|Price|Quantity|Date| Time|
+----+--------+-----------+----+-----+--------+----+-----+
|  32|       4|         32|   5|   27|       4| 358|16382|
+----+--------+-----------+----+-----+--------+----+-----+

### Columns

In [70]:
print("There are {} columns in the DataFrame and their names are {}".format(len(dfPizza.columns),
                                                                              dfPizza.columns))

There are 8 columns in the DataFrame and their names are ['Name', 'Category', 'Ingredients', 'Size', 'Price', 'Quantity', 'Date', 'Time']

### Datatypes

In [71]:
dfPizza.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Category: string (nullable = true)
 |-- Ingredients: string (nullable = true)
 |-- Size: string (nullable = true)
 |-- Price: double (nullable = true)
 |-- Quantity: integer (nullable = true)
 |-- Date: date (nullable = true)
 |-- Time: timestamp (nullable = true)

In [72]:
dfPizza = dfPizza.withColumn("Price",col("Price").cast(DecimalType(18,2)))

### Summary

In [73]:
dfPizza.describe("Price").show()

+-------+-----------------+
|summary|            Price|
+-------+-----------------+
|  count|            48625|
|   mean|        16.494004|
| stddev|3.621761197368334|
|    min|             9.75|
|    max|            35.95|
+-------+-----------------+

In [74]:
dfPizza.dtypes

[('Name', 'string'),
 ('Category', 'string'),
 ('Ingredients', 'string'),
 ('Size', 'string'),
 ('Price', 'decimal(18,2)'),
 ('Quantity', 'int'),
 ('Date', 'date'),
 ('Time', 'timestamp')]

In [75]:
print("Shape of DataFrame: {}, {} ".format(dfPizza.count(),
                                          len(dfPizza.columns)))

Shape of DataFrame: 48625, 8

# Data Analysis

### Creating Total Amount

In [76]:
def CreateMultpiplication(x, y):
    return x * y

dfPizza = dfPizza.withColumn("Total Amount",CreateMultpiplication(col("Quantity"),col("Price")) )
dfPizza = dfPizza.select('Name',
 'Category',
 'Ingredients',
 'Size',
 'Price',
 'Quantity',
 'Total Amount',
 'Date',
 'Time')

dfPizza.show(truncate=False)

+-------------------------+--------+-----------------------------------------------------------------------+----+-----+--------+------------+----------+-------------------+
|Name                     |Category|Ingredients                                                            |Size|Price|Quantity|Total Amount|Date      |Time               |
+-------------------------+--------+-----------------------------------------------------------------------+----+-----+--------+------------+----------+-------------------+
|The Italian Supreme Pizza|Supreme |Calabrese Salami, Capocollo, Tomatoes, Red Onions, Green Olives, Garlic|S   |12.50|1       |12.50       |2015-12-30|2023-06-14 12:45:20|
|The Italian Supreme Pizza|Supreme |Calabrese Salami, Capocollo, Tomatoes, Red Onions, Green Olives, Garlic|S   |12.50|1       |12.50       |2015-12-27|2023-06-14 16:03:36|
|The Italian Supreme Pizza|Supreme |Calabrese Salami, Capocollo, Tomatoes, Red Onions, Green Olives, Garlic|S   |12.50|1       |12.50       |2015-12-24|2023-06-14 21:09:48|
|The Italian Supreme Pizza|Supreme |Calabrese Salami, Capocollo, Tomatoes, Red Onions, Green Olives, Garlic|S   |12.50|1       |12.50       |2015-12-23|2023-06-14 19:37:02|
|The Italian Supreme Pizza|Supreme |Calabrese Salami, Capocollo, Tomatoes, Red Onions, Green Olives, Garlic|S   |12.50|1       |12.50       |2015-12-20|2023-06-14 16:36:49|
|The Italian Supreme Pizza|Supreme |Calabrese Salami, Capocollo, Tomatoes, Red Onions, Green Olives, Garlic|S   |12.50|1       |12.50       |2015-12-16|2023-06-14 20:39:32|
|The Italian Supreme Pizza|Supreme |Calabrese Salami, Capocollo, Tomatoes, Red Onions, Green Olives, Garlic|S   |12.50|1       |12.50       |2015-12-13|2023-06-14 19:56:40|
|The Italian Supreme Pizza|Supreme |Calabrese Salami, Capocollo, Tomatoes, Red Onions, Green Olives, Garlic|S   |12.50|1       |12.50       |2015-12-13|2023-06-14 14:39:07|
|The Italian Supreme Pizza|Supreme |Calabrese Salami, Capocollo, Tomatoes, Red Onions, Green Olives, Garlic|S   |12.50|1       |12.50       |2015-12-12|2023-06-14 21:30:34|
|The Italian Supreme Pizza|Supreme |Calabrese Salami, Capocollo, Tomatoes, Red Onions, Green Olives, Garlic|S   |12.50|1       |12.50       |2015-12-09|2023-06-14 12:10:52|
|The Italian Supreme Pizza|Supreme |Calabrese Salami, Capocollo, Tomatoes, Red Onions, Green Olives, Garlic|S   |12.50|1       |12.50       |2015-12-08|2023-06-14 13:08:48|
|The Italian Supreme Pizza|Supreme |Calabrese Salami, Capocollo, Tomatoes, Red Onions, Green Olives, Garlic|S   |12.50|1       |12.50       |2015-12-06|2023-06-14 19:58:59|
|The Italian Supreme Pizza|Supreme |Calabrese Salami, Capocollo, Tomatoes, Red Onions, Green Olives, Garlic|S   |12.50|1       |12.50       |2015-11-29|2023-06-14 17:55:56|
|The Italian Supreme Pizza|Supreme |Calabrese Salami, Capocollo, Tomatoes, Red Onions, Green Olives, Garlic|S   |12.50|1       |12.50       |2015-11-29|2023-06-14 17:08:29|
|The Italian Supreme Pizza|Supreme |Calabrese Salami, Capocollo, Tomatoes, Red Onions, Green Olives, Garlic|S   |12.50|1       |12.50       |2015-11-28|2023-06-14 17:21:24|
|The Italian Supreme Pizza|Supreme |Calabrese Salami, Capocollo, Tomatoes, Red Onions, Green Olives, Garlic|S   |12.50|1       |12.50       |2015-11-24|2023-06-14 16:47:49|
|The Italian Supreme Pizza|Supreme |Calabrese Salami, Capocollo, Tomatoes, Red Onions, Green Olives, Garlic|S   |12.50|1       |12.50       |2015-11-21|2023-06-14 14:40:50|
|The Italian Supreme Pizza|Supreme |Calabrese Salami, Capocollo, Tomatoes, Red Onions, Green Olives, Garlic|S   |12.50|1       |12.50       |2015-11-15|2023-06-14 20:58:00|
|The Italian Supreme Pizza|Supreme |Calabrese Salami, Capocollo, Tomatoes, Red Onions, Green Olives, Garlic|S   |12.50|1       |12.50       |2015-11-13|2023-06-14 20:49:55|
|The Italian Supreme Pizza|Supreme |Calabrese Salami, Capocollo, Tomatoes, Red Onions, Green Olives, Garlic|S   |12.50|1       |12.50       |2015-11-13|2023-06-14 18:36:46|
+-------------------------+--------+-----------------------------------------------------------------------+----+-----+--------+------------+----------+-------------------+
only showing top 20 rows

### Creating upper case of Category

In [77]:
def upperCase(str):
    return str.upper()

upperCaseUDF = udf(lambda z:upperCase(z), StringType())

dfPizza = dfPizza.withColumn("Category",upperCaseUDF(col("Category")))
dfPizza.show(truncate=False)

+--------------------------+--------+-----------------------------------------------------------------------------------+----+-----+--------+------------+----------+-------------------+
|Name                      |Category|Ingredients                                                                        |Size|Price|Quantity|Total Amount|Date      |Time               |
+--------------------------+--------+-----------------------------------------------------------------------------------+----+-----+--------+------------+----------+-------------------+
|The Barbecue Chicken Pizza|CHICKEN |Barbecued Chicken, Red Peppers, Green Peppers, Tomatoes, Red Onions, Barbecue Sauce|L   |20.75|2       |41.50       |2015-12-31|2023-06-14 19:05:04|
|The Barbecue Chicken Pizza|CHICKEN |Barbecued Chicken, Red Peppers, Green Peppers, Tomatoes, Red Onions, Barbecue Sauce|L   |20.75|1       |20.75       |2015-12-31|2023-06-14 18:52:10|
|The Barbecue Chicken Pizza|CHICKEN |Barbecued Chicken, Red Peppers, Green Peppers, Tomatoes, Red Onions, Barbecue Sauce|L   |20.75|1       |20.75       |2015-12-31|2023-06-14 18:38:38|
|The Barbecue Chicken Pizza|CHICKEN |Barbecued Chicken, Red Peppers, Green Peppers, Tomatoes, Red Onions, Barbecue Sauce|L   |20.75|1       |20.75       |2015-12-31|2023-06-14 18:18:30|
|The Barbecue Chicken Pizza|CHICKEN |Barbecued Chicken, Red Peppers, Green Peppers, Tomatoes, Red Onions, Barbecue Sauce|L   |20.75|1       |20.75       |2015-12-30|2023-06-14 20:12:27|
|The Barbecue Chicken Pizza|CHICKEN |Barbecued Chicken, Red Peppers, Green Peppers, Tomatoes, Red Onions, Barbecue Sauce|L   |20.75|1       |20.75       |2015-12-29|2023-06-14 13:43:53|
|The Barbecue Chicken Pizza|CHICKEN |Barbecued Chicken, Red Peppers, Green Peppers, Tomatoes, Red Onions, Barbecue Sauce|L   |20.75|1       |20.75       |2015-12-27|2023-06-14 12:48:05|
|The Barbecue Chicken Pizza|CHICKEN |Barbecued Chicken, Red Peppers, Green Peppers, Tomatoes, Red Onions, Barbecue Sauce|L   |20.75|1       |20.75       |2015-12-26|2023-06-14 20:07:54|
|The Barbecue Chicken Pizza|CHICKEN |Barbecued Chicken, Red Peppers, Green Peppers, Tomatoes, Red Onions, Barbecue Sauce|L   |20.75|1       |20.75       |2015-12-26|2023-06-14 15:25:45|
|The Barbecue Chicken Pizza|CHICKEN |Barbecued Chicken, Red Peppers, Green Peppers, Tomatoes, Red Onions, Barbecue Sauce|L   |20.75|1       |20.75       |2015-12-26|2023-06-14 14:41:05|
|The Barbecue Chicken Pizza|CHICKEN |Barbecued Chicken, Red Peppers, Green Peppers, Tomatoes, Red Onions, Barbecue Sauce|L   |20.75|1       |20.75       |2015-12-24|2023-06-14 20:58:44|
|The Barbecue Chicken Pizza|CHICKEN |Barbecued Chicken, Red Peppers, Green Peppers, Tomatoes, Red Onions, Barbecue Sauce|L   |20.75|1       |20.75       |2015-12-24|2023-06-14 18:53:52|
|The Barbecue Chicken Pizza|CHICKEN |Barbecued Chicken, Red Peppers, Green Peppers, Tomatoes, Red Onions, Barbecue Sauce|L   |20.75|1       |20.75       |2015-12-24|2023-06-14 15:08:38|
|The Barbecue Chicken Pizza|CHICKEN |Barbecued Chicken, Red Peppers, Green Peppers, Tomatoes, Red Onions, Barbecue Sauce|L   |20.75|1       |20.75       |2015-12-23|2023-06-14 17:52:04|
|The Barbecue Chicken Pizza|CHICKEN |Barbecued Chicken, Red Peppers, Green Peppers, Tomatoes, Red Onions, Barbecue Sauce|L   |20.75|1       |20.75       |2015-12-23|2023-06-14 15:30:43|
|The Barbecue Chicken Pizza|CHICKEN |Barbecued Chicken, Red Peppers, Green Peppers, Tomatoes, Red Onions, Barbecue Sauce|L   |20.75|1       |20.75       |2015-12-23|2023-06-14 11:42:50|
|The Barbecue Chicken Pizza|CHICKEN |Barbecued Chicken, Red Peppers, Green Peppers, Tomatoes, Red Onions, Barbecue Sauce|L   |20.75|1       |20.75       |2015-12-22|2023-06-14 13:17:55|
|The Barbecue Chicken Pizza|CHICKEN |Barbecued Chicken, Red Peppers, Green Peppers, Tomatoes, Red Onions, Barbecue Sauce|L   |20.75|1       |20.75       |2015-12-21|2023-06-14 22:16:13|
|The Barbecue Chicken Pizza|CHICKEN |Barbecued Chicken, Red Peppers, Green Peppers, Tomatoes, Red Onions, Barbecue Sauce|L   |20.75|1       |20.75       |2015-12-21|2023-06-14 18:51:54|
|The Barbecue Chicken Pizza|CHICKEN |Barbecued Chicken, Red Peppers, Green Peppers, Tomatoes, Red Onions, Barbecue Sauce|L   |20.75|1       |20.75       |2015-12-21|2023-06-14 17:09:32|
+--------------------------+--------+-----------------------------------------------------------------------------------+----+-----+--------+------------+----------+-------------------+
only showing top 20 rows

### Summing of Total Amount by Category and Pizza Name

In [78]:
dfPizzaCategoryByTotalAmount = dfPizza.groupBy("Category").sum("Total Amount").orderBy(desc("sum(Total Amount)"))
dfPizzaCategoryByTotalAmount.select("Category",col("sum(Total Amount)").alias("Total Amount")).show(truncate=False)

+--------+------------+
|Category|Total Amount|
+--------+------------+
|CLASSIC |220053.10   |
|SUPREME |208197.00   |
|CHICKEN |195919.50   |
|VEGGIE  |193690.45   |
+--------+------------+

In [79]:
dfPizzaPizzaNameByTotalAmount = dfPizza.groupBy("Name").sum("Total Amount")
dfPizzaPizzaNameByTotalAmount = dfPizzaPizzaNameByTotalAmount.select("Name",col("sum(Total Amount)").alias("Total Amount"))
windowSpec = Window.orderBy(desc("Total Amount"))
dfPizzaPizzaNameByTotalAmount.withColumn("Ranking", row_number().over(windowSpec)).show(truncate=False)

+---------------------------------+------------+-------+
|Name                             |Total Amount|Ranking|
+---------------------------------+------------+-------+
|The Thai Chicken Pizza           |43434.25    |1      |
|The Barbecue Chicken Pizza       |42768.00    |2      |
|The California Chicken Pizza     |41409.50    |3      |
|The Classic Deluxe Pizza         |38180.50    |4      |
|The Spicy Italian Pizza          |34831.25    |5      |
|The Southwest Chicken Pizza      |34705.75    |6      |
|The Italian Supreme Pizza        |33476.75    |7      |
|The Hawaiian Pizza               |32273.25    |8      |
|The Four Cheese Pizza            |32265.70    |9      |
|The Sicilian Pizza               |30940.50    |10     |
|The Pepperoni Pizza              |30161.75    |11     |
|The Greek Pizza                  |28454.10    |12     |
|The Mexicana Pizza               |26780.75    |13     |
|The Five Cheese Pizza            |26066.50    |14     |
|The Pepper Salami Pizza          |25529.00    |15     |
|The Italian Capocollo Pizza      |25094.00    |16     |
|The Vegetables + Vegetables Pizza|24374.75    |17     |
|The Prosciutto and Arugula Pizza |24193.25    |18     |
|The Napolitana Pizza             |24087.00    |19     |
|The Spinach and Feta Pizza       |23271.25    |20     |
+---------------------------------+------------+-------+
only showing top 20 rows

### Grouping of Pizza Name

In [80]:
dfPizzaPizzaNameByTotalAmount.withColumn("Grouping",ntile(5).over(windowSpec)).show(truncate=False)

dfPizzaPizzaNameByTotalAmountGrouping =  dfPizzaPizzaNameByTotalAmount.withColumn("Grouping",ntile(5).over(windowSpec))

+---------------------------------+------------+--------+
|Name                             |Total Amount|Grouping|
+---------------------------------+------------+--------+
|The Thai Chicken Pizza           |43434.25    |1       |
|The Barbecue Chicken Pizza       |42768.00    |1       |
|The California Chicken Pizza     |41409.50    |1       |
|The Classic Deluxe Pizza         |38180.50    |1       |
|The Spicy Italian Pizza          |34831.25    |1       |
|The Southwest Chicken Pizza      |34705.75    |1       |
|The Italian Supreme Pizza        |33476.75    |1       |
|The Hawaiian Pizza               |32273.25    |2       |
|The Four Cheese Pizza            |32265.70    |2       |
|The Sicilian Pizza               |30940.50    |2       |
|The Pepperoni Pizza              |30161.75    |2       |
|The Greek Pizza                  |28454.10    |2       |
|The Mexicana Pizza               |26780.75    |2       |
|The Five Cheese Pizza            |26066.50    |2       |
|The Pepper Salami Pizza          |25529.00    |3       |
|The Italian Capocollo Pizza      |25094.00    |3       |
|The Vegetables + Vegetables Pizza|24374.75    |3       |
|The Prosciutto and Arugula Pizza |24193.25    |3       |
|The Napolitana Pizza             |24087.00    |3       |
|The Spinach and Feta Pizza       |23271.25    |3       |
+---------------------------------+------------+--------+
only showing top 20 rows

In [81]:
dfPizzaPizzaNameByTotalAmountGrouping.filter(dfPizzaPizzaNameByTotalAmountGrouping["Grouping"] == 1).show(truncate=False)

+----------------------------+------------+--------+
|Name                        |Total Amount|Grouping|
+----------------------------+------------+--------+
|The Thai Chicken Pizza      |43434.25    |1       |
|The Barbecue Chicken Pizza  |42768.00    |1       |
|The California Chicken Pizza|41409.50    |1       |
|The Classic Deluxe Pizza    |38180.50    |1       |
|The Spicy Italian Pizza     |34831.25    |1       |
|The Southwest Chicken Pizza |34705.75    |1       |
|The Italian Supreme Pizza   |33476.75    |1       |
+----------------------------+------------+--------+

In [82]:
dfPizzaPizzaNameByTotalAmountGrouping.filter(dfPizzaPizzaNameByTotalAmountGrouping["Grouping"] == 5).show(truncate=False)

+-------------------------+------------+--------+
|Name                     |Total Amount|Grouping|
+-------------------------+------------+--------+
|The Calabrese Pizza      |15934.25    |5       |
|The Spinach Pesto Pizza  |15596.00    |5       |
|The Mediterranean Pizza  |15360.50    |5       |
|The Spinach Supreme Pizza|15277.75    |5       |
|The Green Garden Pizza   |13955.75    |5       |
|The Brie Carre Pizza     |11588.50    |5       |
+-------------------------+------------+--------+

### Running Total by Month

In [83]:
dfPizzaGrouping = dfPizza.select(year(col("Date")),
               month(col("Date")),
               col("Total Amount"))


dfPizzaGrouping = dfPizzaGrouping.groupBy("year(Date)","month(Date)").sum("Total Amount")
dfPizzaGrouping = dfPizzaGrouping.na.drop()
dfPizzaGrouping = dfPizzaGrouping.select(col("year(Date)").alias("Year"),
                       col("month(Date)").alias("Month"),
                       col("sum(Total Amount)").alias("Total Amount"))

dfPizzaGrouping.orderBy("Month").show(truncate=False)

+----+-----+------------+
|Year|Month|Total Amount|
+----+-----+------------+
|2015|1    |69793.30    |
|2015|2    |65159.60    |
|2015|3    |70397.10    |
|2015|4    |68736.80    |
|2015|5    |71402.75    |
|2015|6    |68230.20    |
|2015|7    |72557.90    |
|2015|8    |68278.25    |
|2015|9    |64180.05    |
|2015|10   |64027.60    |
|2015|11   |70395.35    |
|2015|12   |64701.15    |
+----+-----+------------+

In [84]:
windowSpec = Window.partitionBy().orderBy("Month")
windowval = (Window.partitionBy().orderBy("Month").rangeBetween(Window.unboundedPreceding,0))

dfPizzaGrouping = dfPizzaGrouping.select("Year",
                                         "Month",
                                         concat_ws("-",col("Month"),col("Year")).alias("Month-Year"),
                                         "Total Amount")
dfPizzaGrouping = dfPizzaGrouping.withColumn("Lag", lag(col("Total Amount"), offset=1, default=0).over(windowSpec))
dfPizzaGrouping = dfPizzaGrouping.withColumn("Diff",
                                             when(isnull(col("Total Amount") - col("Lag")),0)
                                                  .otherwise(col("Total Amount") - col("Lag")))
dfPizzaGrouping = dfPizzaGrouping.withColumn("Lead", lead(col("Total Amount"), offset=1,default = 0).over(windowSpec))
dfPizzaGrouping = dfPizzaGrouping.withColumn("Cummluative Sum", sum(col("Total Amount")).over(windowval))

dfPizzaGrouping.select("Month-Year",
                       "Total Amount",
                       "Lag",
                       "Diff",
                       "Lead",
                       "Cummluative Sum").show(truncate=False )

+----------+------------+--------+--------+--------+---------------+
|Month-Year|Total Amount|Lag     |Diff    |Lead    |Cummluative Sum|
+----------+------------+--------+--------+--------+---------------+
|1-2015    |69793.30    |0.00    |69793.30|65159.60|69793.30       |
|2-2015    |65159.60    |69793.30|-4633.70|70397.10|134952.90      |
|3-2015    |70397.10    |65159.60|5237.50 |68736.80|205350.00      |
|4-2015    |68736.80    |70397.10|-1660.30|71402.75|274086.80      |
|5-2015    |71402.75    |68736.80|2665.95 |68230.20|345489.55      |
|6-2015    |68230.20    |71402.75|-3172.55|72557.90|413719.75      |
|7-2015    |72557.90    |68230.20|4327.70 |68278.25|486277.65      |
|8-2015    |68278.25    |72557.90|-4279.65|64180.05|554555.90      |
|9-2015    |64180.05    |68278.25|-4098.20|64027.60|618735.95      |
|10-2015   |64027.60    |64180.05|-152.45 |70395.35|682763.55      |
|11-2015   |70395.35    |64027.60|6367.75 |64701.15|753158.90      |
|12-2015   |64701.15    |70395.35|-5694.20|0.00    |817860.05      |
+----------+------------+--------+--------+--------+---------------+

### The quantity of orders in terms of Pizza and its size

In [85]:
dfOrderedPizza = dfPizza.na.drop()

dfOrderedPizza = dfOrderedPizza.groupBy("Name").count()

dfOrderedPizza.select("Name",col("Count").alias("Quantity of Orders")).orderBy(desc("count")).show(dfOrderedPizza.count(), False)

+------------------------------------------+------------------+
|Name                                      |Quantity of Orders|
+------------------------------------------+------------------+
|The Classic Deluxe Pizza                  |2416              |
|The Barbecue Chicken Pizza                |2372              |
|The Hawaiian Pizza                        |2370              |
|The Pepperoni Pizza                       |2369              |
|The Thai Chicken Pizza                    |2315              |
|The California Chicken Pizza              |2302              |
|The Spicy Italian Pizza                   |1887              |
|The Sicilian Pizza                        |1887              |
|The Southwest Chicken Pizza               |1885              |
|The Four Cheese Pizza                     |1850              |
|The Italian Supreme Pizza                 |1849              |
|The Big Meat Pizza                        |1811              |
|The Vegetables + Vegetables Pizza         |1510              |
|The Mexicana Pizza                        |1456              |
|The Napolitana Pizza                      |1451              |
|The Spinach and Feta Pizza                |1432              |
|The Prosciutto and Arugula Pizza          |1428              |
|The Pepper Salami Pizza                   |1422              |
|The Italian Capocollo Pizza               |1414              |
|The Greek Pizza                           |1406              |
|The Five Cheese Pizza                     |1359              |
|The Pepperoni, Mushroom, and Peppers Pizza|1342              |
|The Green Garden Pizza                    |987               |
|The Chicken Alfredo Pizza                 |980               |
|The Italian Vegetables Pizza              |975               |
|The Chicken Pesto Pizza                   |961               |
|The Soppressata Pizza                     |957               |
|The Spinach Pesto Pizza                   |957               |
|The Spinach Supreme Pizza                 |940               |
|The Calabrese Pizza                       |927               |
|The Mediterranean Pizza                   |923               |
|The Brie Carre Pizza                      |480               |
+------------------------------------------+------------------+

In [86]:
dfPizzaSize = dfPizza.groupBy("Size").count()

dfPizzaSize.select("Size", col("count").alias("Quantity of Orders")).orderBy(desc("Quantity of Orders")).show(truncate=False)

+----+------------------+
|Size|Quantity of Orders|
+----+------------------+
|L   |18527             |
|M   |15387             |
|S   |14139             |
|XL  |544               |
|XXL |28                |
+----+------------------+

### Quantity of orders in a day and which pizza was ordered most of the time

In [87]:
dfPizzaWithoutTime  = dfPizza.select('Name',
 'Category',
 'Ingredients',
 'Size',
 'Price',
 'Quantity',
 'Total Amount',
 'Date')

dfPizzaDayMonthYear = dfPizzaWithoutTime.withColumn("Day", dayofmonth(col("Date"))) \
        .withColumn("Month", month(col("Date"))) \
        .withColumn("Year", year(col("Date")))

dfPizzaDayMonthYear = dfPizzaDayMonthYear.na.drop()

dfPizzaDayMonthYearQuantity = dfPizzaDayMonthYear.groupBy("Day").count().orderBy("Day")

dfPizzaDayMonthYearQuantity.select("Day", col("count").alias("Quantity of Orders")).show(dfPizzaDayMonthYearQuantity.count(), False)

+---+------------------+
|Day|Quantity of Orders|
+---+------------------+
|1  |1782              |
|2  |1624              |
|3  |1660              |
|4  |1773              |
|5  |1427              |
|6  |1673              |
|7  |1647              |
|8  |1646              |
|9  |1656              |
|10 |1601              |
|11 |1655              |
|12 |1443              |
|13 |1643              |
|14 |1643              |
|15 |1844              |
|16 |1609              |
|17 |1649              |
|18 |1589              |
|19 |1463              |
|20 |1650              |
|21 |1560              |
|22 |1484              |
|23 |1595              |
|24 |1546              |
|25 |1245              |
|26 |1504              |
|27 |1763              |
|28 |1450              |
|29 |1361              |
|30 |1439              |
|31 |996               |
+---+------------------+

In [88]:
dfPizzaDayNameQuantity = dfPizzaDayMonthYear.groupBy("Day","Name").count().orderBy("Day")


dfPizzaDayNameQuantity.select("Day","Name",col("count").alias("Quantity of Orders")).show(30)

+---+--------------------+------------------+
|Day|                Name|Quantity of Orders|
+---+--------------------+------------------+
|  1|The Spicy Italian...|                58|
|  1|The Italian Capoc...|                59|
|  1|The Brie Carre Pizza|                11|
|  1|The Classic Delux...|                94|
|  1|  The Big Meat Pizza|                55|
|  1|  The Mexicana Pizza|                45|
|  1|The Italian Veget...|                32|
|  1|The Spinach and F...|                51|
|  1|The Five Cheese P...|                59|
|  1|The Italian Supre...|                85|
|  1|The Chicken Pesto...|                32|
|  1|The California Ch...|                75|
|  1|The Mediterranean...|                31|
|  1| The Pepperoni Pizza|                86|
|  1|The Southwest Chi...|                78|
|  1|  The Hawaiian Pizza|                81|
|  1|     The Greek Pizza|                47|
|  1|The Chicken Alfre...|                27|
|  1|The Napolitana Pizza|                53|
|  1|The Pepperoni, Mu...|                57|
|  1|The Soppressata P...|                26|
|  1|The Spinach Pesto...|                38|
|  1|The Thai Chicken ...|                77|
|  1| The Calabrese Pizza|                44|
|  1|The Pepper Salami...|                55|
|  1|  The Sicilian Pizza|                70|
|  1|The Barbecue Chic...|                94|
|  1|The Four Cheese P...|                69|
|  1|The Vegetables + ...|                53|
|  1|The Prosciutto an...|                54|
+---+--------------------+------------------+
only showing top 30 rows

### Total Amount of Pizza in each day

In [89]:
dfPizzaTotalAmountEachDay = dfPizzaDayMonthYear.groupBy("Day").sum("Total Amount").orderBy("Day")

dfPizzaTotalAmountEachDay.select("Day",col("sum(Total Amount)").alias("Total Amount")).show(dfPizzaTotalAmountEachDay.count(), False)

+---+------------+
|Day|Total Amount|
+---+------------+
|1  |29608.55    |
|2  |27495.40    |
|3  |27993.15    |
|4  |29675.65    |
|5  |23988.40    |
|6  |28097.45    |
|7  |27636.40    |
|8  |27976.90    |
|9  |27963.90    |
|10 |26967.95    |
|11 |27756.20    |
|12 |24169.85    |
|13 |27665.10    |
|14 |27727.25    |
|15 |30588.90    |
|16 |26890.35    |
|17 |27969.25    |
|18 |26913.70    |
|19 |24755.70    |
|20 |27811.20    |
|21 |26028.70    |
|22 |25004.80    |
|23 |27137.05    |
|24 |26098.60    |
|25 |20875.80    |
|26 |25247.35    |
|27 |29655.95    |
|28 |24154.85    |
|29 |23045.40    |
|30 |24230.60    |
|31 |16729.70    |
+---+------------+

In [90]:
dfPizzaDayNameTotalAmount = dfPizzaDayMonthYear.groupBy("Day","Name").sum("Total Amount").orderBy("Day")

dfPizzaDayNameTotalAmount.select("Day","Name",col("sum(Total Amount)").alias("Total Amount")).show(30)

+---+--------------------+------------+
|Day|                Name|Total Amount|
+---+--------------------+------------+
|  1|The Spicy Italian...|     1049.50|
|  1|The Italian Capoc...|     1022.50|
|  1|The Brie Carre Pizza|      260.15|
|  1|The Classic Delux...|     1490.00|
|  1|  The Big Meat Pizza|      708.00|
|  1|  The Mexicana Pizza|      876.25|
|  1|The Italian Veget...|      529.50|
|  1|The Spinach and F...|      840.00|
|  1|The Five Cheese P...|     1128.50|
|  1|The Italian Supre...|     1522.25|
|  1|The Chicken Pesto...|      576.75|
|  1|The California Ch...|     1320.25|
|  1|The Mediterranean...|      535.25|
|  1| The Pepperoni Pizza|     1105.75|
|  1|The Southwest Chi...|     1402.50|
|  1|  The Hawaiian Pizza|     1076.25|
|  1|     The Greek Pizza|      933.50|
|  1|The Chicken Alfre...|      473.00|
|  1|The Napolitana Pizza|      835.50|
|  1|The Pepperoni, Mu...|      775.00|
|  1|The Soppressata P...|      448.00|
|  1|The Spinach Pesto...|      560.50|
|  1|The Thai Chicken ...|     1458.50|
|  1| The Calabrese Pizza|      771.50|
|  1|The Pepper Salami...|      957.75|
|  1|  The Sicilian Pizza|     1145.75|
|  1|The Barbecue Chic...|     1662.50|
|  1|The Four Cheese P...|     1182.90|
|  1|The Vegetables + ...|      823.50|
|  1|The Prosciutto an...|      903.50|
+---+--------------------+------------+
only showing top 30 rows

### Looking for the greatest value of these and minimum and which day

### Counting orders in each month in the name of month

In [91]:
dfPizzaMonthName = dfPizza.withColumn("Month Name",date_format("date", "MMMM")).withColumn("Month", month(col("Date")))
dfPizzaMonthName = dfPizzaMonthName.na.drop()

dfPizzaMonthName = dfPizzaMonthName.groupBy("Month Name","Month").count().orderBy("Month")

dfPizzaMonthName.select(col("Month Name").alias("Month"),col("count").alias("Quantity of Orders")).show()

+---------+------------------+
|    Month|Quantity of Orders|
+---------+------------------+
|  January|              4156|
| February|              3892|
|    March|              4186|
|    April|              4067|
|      May|              4239|
|     June|              4025|
|     July|              4301|
|   August|              4094|
|September|              3819|
|  October|              3797|
| November|              4185|
| December|              3859|
+---------+------------------+

#### Ideas in the future:

In [92]:
#from pyspark.sql import functions as F


#df2 = dfPizza.select("Ingredients", split("Ingredients", ", ").alias('col2'))

#df2.show(truncate=False)
#df_sizes = df2.select(F.size('col2').alias('col2'))
#df_max = df_sizes.agg(F.max('col2'))
#nb_columns = df_max.collect()[0][0]

#df_result = df2.select('Ingredients', *[df2['col2'][i] for i in range(nb_columns)])
#df_result.show(truncate=False)

In [93]:
#If you don't know the number of columns:
#df_sizes = df2.select(F.size('col2').alias('col2'))
#df_max = df_sizes.agg(F.max('col2'))
#nb_columns = df_max.collect()[0][0]

#df_result = df2.select('col1', *[df2['col2'][i] for i in range(nb_columns)])
#df_result.show()
#from pyspark.sql.functions import *

In [94]:
#Things to be considered in next project
# dealing with these https://www.datasciencemadesimple.com/get-month-year-and-quarter-from-date-in-pyspark/, 
# https://www.datasciencemadesimple.com/get-day-of-month-day-of-year-day-of-week-from-date-in-pyspark/
#consdering day of week? https://www.datasciencemadesimple.com/get-day-of-month-day-of-year-day-of-week-from-date-in-pyspark/
# browsing all materials that I have so as to select!!
## thinking what should be done with pizza without orders
# thinking about one day - sales amount in one day - the orders of quantity in one day - workig on it
## in which month the quantity of orders of pizza are the greatest and which pizza are ordered most!
## how many pizzas were ordered based on size - prices of each pizza , total amount by pizza 
## using UDF (put  example and remove digit at the beginning) & analytical functions
#Looking for values with only one ingredient for example salami using wildcard
# using pandas and look for spicy pizza or ingredients
#case when with size and is null where it is not available
#https://sparkbyexamples.com/pyspark/pyspark-groupby-explained-with-example/
# https://sparkbyexamples.com/pyspark/pyspark-window-functions/
# https://sparkbyexamples.com/pyspark/pyspark-udf-user-defined-function/ 
# Considering next transformations to be used
# max and min of each borough 
## using pandas / pivot
# using inspirations to run this project from .doc files 
# https://pub.towardsai.net/exploratory-data-analysis-eda-using-pyspark-b43e71fcec9f
#https://dev.to/kinyungu_denis/apache-pyspark-for-data-engineering-3phi